<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <% include snippets/header.ejs %>
</head>
<body>
  <% include snippets/nav.ejs %>



	<div id="fh5co-page">

		<div id="fh5co-intro-section">
			<div class="container">
				<div class="row header">
					<div class="col-md-9 animate-box">
						<h2 class="intro-heading">Interviews & inspiration from profitable, ecommerce businesses.</h2>
						<p><span>Get new interviews and Shopify tips in your inbox every week <i class="fa fa-envelope"></i></span></p>
						<!-- Mailchimp -->
						<div class="col-md-5" id="mc_embed_signup">
						<form action="https://builtwithshopify.us15.list-manage.com/subscribe/post?u=31208a1eb940d0c26c73f4bd0&amp;id=1cc7d644b5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						    <div id="mc_embed_signup_scroll">

							<input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required>
						    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_31208a1eb940d0c26c73f4bd0_1cc7d644b5" tabindex="-1" value=""></div><br />
						    <div class="clear"><input type="submit"  value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn subscribe"></div>
						    </div>
						</form>
						</div>
						<!-- End Mailchimp -->
					</div>
				</div>
			</div>
		</div>
		<div id="fh5co-portfolio-section">
			<div class="container">
				<ul id="filters" class="clearfix animate-box">
					<!-- TODO: add a hover on each of these line items to explain what the category is about -->
					<li><span class="filter active" data-filter=".all">All</span></li>
					<li><span class="filter" data-filter=".art">Art</span></li>
					<li><span class="filter" data-filter=".clothing">Clothing</span></li>
					<li><span class="filter" data-filter=".commercial">Commercial</span></li>
					<li><span class="filter" data-filter=".digital">Digital</span></li>
					<li><span class="filter" data-filter=".dropshipping">Dropshipping</span></li>

					<li><span class="filter" data-filter=".food">Food</span></li>
					<li><span class="filter" data-filter=".gadgets">Gadgets</span></li>
					<li><span class="filter" data-filter=".home">Home</span></li>
					<li><span class="filter" data-filter=".jewellery">Jewelery</span></li>
					<li><span class="filter" data-filter=".lifestyle">Lifestyle</span></li>
					<li><span class="filter" data-filter=".sport">Sport</span></li>
				</ul>

				<div id="portfoliolist" class="animate-box">

					<% for (var interview in interviews) { %>
            <div class="portfolio all <%= interviews[interview].categories %>" data-cat="<%= interviews[interview].data_cat %>">

						<a class="article-link" href="/case-studies/<%= interview %>" >
							<div class="portfolio-wrapper">
									<img src="<%= interviews[interview].thumbnail %>" alt="<%= interviews[interview].store_name %>" />
							</div>

								<div class="label">
									<div class="label-text">
										<h4 class="text-title"><%= interviews[interview].store_name %></h4>
                    <div class="row">
                      <span class="col-md-9 text-category"><%- interviews[interview].description %></span>
                      <span class = "col-md-1" style="color: #333;"><%- interviews[interview].revenue %></span>

                    </div>
                  </div>

									<div class="label-bg"></div>
								</div>
              </a>

						</div>
						<% }%>
				</div>
			</div>
		</div>
		<!-- END fh5co-portfolio-section -->
		<footer>
			<div id="footer" class="fh5co-border-line">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<p>Copyright 2017 United By Apps. All Rights Reserved. </p>
						</div>
						<div class="col-md-6 social-text-align">
							<p class="fh5co-social-icons">
								<a href="#"><i class="icon-twitter-with-circle"></i></a>
								<a href="#"><i class="icon-facebook-with-circle"></i></a>
								<a href="#"><i class="icon-instagram-with-circle"></i></a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</footer>

	</div>

	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Portfolio Filter Mixitup -->
	<script type="text/javascript" src="js/jquery.mixitup.min.js"></script>

	<!-- Main JS (Do not remove) -->
	<script src="../js/main.js"></script>

	<script type="text/javascript">
	$(function () {

		var filterList = {

			init: function () {

				// MixItUp plugin
				// http://mixitup.io
				$('#portfoliolist').mixItUp({
  				selectors: {
    			  target: '.portfolio',
    			  filter: '.filter'
    		  },
    		  load: {
      		  filter: '.all'
      		}
				});

			}

		};

		// Run the show!
		filterList.init();



	});
	</script>

	</body>
</html>
