<p class="store-description-meta"><%= date %> | Alexa: <span class="alexa_rank">N.A</span></p>
<p class="store-description-text"><%= store_description %></p>

<div id="store-meta-title">
<% if (founders.length > 0) { %>
  <h4>Founders:</h4>
  <span><%= founders %></span><br />
<% } %>

<% if (employees.length > 0) { %>
  <h4>Employees:</h4>
  <span><%= employees %></span><br/>
<% } %>

<% if (start_date.length > 0) { %>
  <h4>Started:</h4>
  <span><%= start_date %></span><br/>
<% } %>

<% if (revenue.length > 0) { %>
  <h4>Revenue:</h4>
  <span><%= revenue %></span><br/>
<% } %>

<% if (orders_month.length > 0) { %>
  <h4>Orders per Month:</h4>
  <span><%= orders_month %></span><br/>
<% } %>

<% if (location.length > 0) { %>
  <h4>Location:</h4>
  <span><%= location %></span><br/>
<% } %>




<!-- <% if (employees.length > 0) { %>
  <h4>Employees:</h4>
  <span><%= employees %></span><br/>
<% } %> -->

<% if (apps.length > 0) { %>
  <h4>Shopify Apps:</h4>
  <span></span>
  <% for (var app in apps) { %>
    <div id="shopify-app-container" class="col-md-12">
      <div class="shopify-icon">
        <img src='<%= apps[app].thumbnail %>' />
        <a href="<%= apps[app].link %>"><%= apps[app].app_name %></a>
      </div>
    </div>
  <% } %>
  <% } %>
  <% if (software.length > 0) { %>
    <br />
  <h4>Other Software:</h4>
    <ul>
      <% for (var s in software) { %>
      <li><a href="<%= software[s].link %>">  <%= software[s].name %> </a></li>
      <% } %>
    </ul>


  <% } %>

</div>
