<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <% include ../snippets/header.ejs %>
</head>

<body>
    <nav id="fh5co-main-nav" role="navigation">
        <% include ../snippets/mobile_nav.ejs %>
    </nav>
    <div id="fh5co-page">
        <header>
            <% include ../snippets/nav.ejs %>
        </header>

        <div id="fh5co-services-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section">
                        <h1><%= title %>.</h1>
                        <h3>
                          Thomas talks about how <a href="<%= link %>"><%= title %></a> has evolved and grown to 1,500 orders per month.
                         </h3>
                        <!-- Share Buttons -->
                        <% include ../snippets/share_buttons.ejs %>
                    </div>
                </div>
                <div class="row fh5co-services-single">

                    <div class="col-md-12 animate-box">
                        <div class="fh5co-services">
                            <div class="holder-section">
                                <!-- Meta Information -->
                                <div class="col-md-4 animate-box store-meta pull-right">
                                    <div id="store-meta-full">
                                        <h3><%= title %>  <a href="<%= link %>"><i class="fa fa-external-link"></i></a> </h3>
                                        <% include ../snippets/store_meta.ejs %>
                                    </div>
                                </div>
                                <!-- End Meta Information -->

                                <!-- Start Interview -->

                                <h3><strong>Could you tell us a bit about yourself and Bento&amp;co?</strong></h3>
                                <p>My name is Thomas Bertrand, I&rsquo;m from France, but have lived in Kyoto, Japan since 2003.</p>
                                <p>I first came here to study, but fell&nbsp;in love&nbsp;with the city and wanted to stay a bit more. I&rsquo;m still enjoying my life here.</p>
                                <h3><strong>What made you decide to start selling bento online?</strong></h3>
                                <p>Since 2005, I have&nbsp;written a blog about life&nbsp;in Kyoto and Japan. I had about 800 unique visitors&nbsp;per day and so I thought I could start selling japanese items to my readers.</p>
                                <p>My mother told me in fall 2008 that bento had been featured in a French women&rsquo;s magazine. There were a few blogs about bento in French and English, but it was difficult to find stores to buy them.</p>
                                <figure>
                                    <img style="width: 50%;" class="img-responsive" alt="Bento and Co Boxes" src="/images/bento/shopify-bento-box.jpg">
                                    <figcaption class="figure-caption text-center">Bento Box Meals</figcaption>
                                    </img>
                                </figure>
                                </br>
                                <p>
                                Three weeks later,
                                    I opened the first Bento&amp;co online store in French, offering about 15 items. At that time, Shopify's first plan was commission based only, if I remember well. A friend helped with the design. </p>
                                <p>I started my business with about $500USD of stock.</p>
                                <h3><strong>How have you expanded from where you started in 2008?</strong></h3>
                                <p>We had&nbsp;more and more orders from the States and opened the <a href="https://en.bentoandco.com/">english - usd - store in 2010</a>, and a japanese one in 2011 plus a <a href="https://www.bentoandcopro.com/">Bento&amp;co BtoB store</a>,
                                    also on Shopify.</p>
                                    <figure>
                                        <img style="width: 50%;" class="img-responsive" alt="Bento and Co Wholesale Store" src="/images/bento/shopify-bento-wholesale.png">
                                        <figcaption class="figure-caption text-center">The Bento & Co. <a href="https://www.bentoandcopro.com/">Wholesale site</a></figcaption>
                                        </img>
                                    </figure>
                                  </br>
                                  <div class=" col-md-3 animate-box tip-box-right pull-right">
                                      <h4 class="tip-header">Tip! <span class="tip-bulb fa fa-lightbulb-o" aria-hidden="true"></span></h4>
                                      <span>Having a seperate wholesale store seems quite common on Shopify considering the price of wholesale apps. <a href="http://www.builtwithshopify.com/shopify-case-studies/reluctant-trading-experiment">The Reluctant Trading Experiment</a> also do this.</span>
                                  </div>
                                <p>In 2012, we needed to find a bigger place for our stock and office space and I was lucky to find a 3 story&nbsp;building in a great location. Perfect for a new office but also to open a brick-and-mortar shop (April 2012).</p>
                                <p>We have now shipped orders in 97 countries.</p>
                                <h3><strong>Which Shopify apps and software do you use and which are most important to your business?</strong></h3>
                                <p>The app we use the most are: </p>
                                <p>
                                    <ul>
                                        <li><a title="Back in stock shopify app" href="http://1.shopifytrack.com/SHdf" target="_blank">Back in Stock</a></li>
                                        <li><a title="Shopify Order Printer" href="http://1.shopifytrack.com/SHYz" target="_blank">Order Printer</a>&nbsp;and</li>
                                        <li><a title="Shopify better recommendations app" href="http://1.shopifytrack.com/SHdj" target="_blank">Better Recommendations.</a></li>
                                    </ul>
                                </p>
                                <p>But we also have 2 apps made in house : <a title="Shopify Ship&amp;Co app" href="http://1.shopifytrack.com/SHdn" target="_blank">Ship&amp;co</a> (available on the Shopify App Store since a few weeks!) And Stock&amp;co.</p>
                                <p>Stock&amp;co sync our inventories between all our shopify stores and it works very well.</p>
                                <p>We can also add purchase prices for each products and it help us to calculate margin (even though we buy in JPY and sell in EUR &amp; USD) and our inventory cost.</p>
                                <p>I couldn&rsquo;t find any good yet simple app to sync inventories. Most of them have a lot of features we do not need.</p>
                                <h3><strong>Are there any metrics you can share about average monthly orders or revenue?<strong><strong>&nbsp;</strong></strong></h2>
                                <p>Last year, our revenue were about 2M USD.</p>
                                <p>We ship between 800 to 1500 orders per month.</p>
                                <h3><strong>What are you working towards now?</h2>
                                <p><a href="https://www.shipandco.com/">Ship&amp;co</a>!</p>
                                <p>Ship&amp;co is a shipping tools for online merchants.</p>
                                <p>I tried Shippo and ShipStation a few years ago, but it didn&rsquo;t work well for us in Japan for international shipments. So we made our own app for Bento&amp;co and since last year, we released a beta for other merchants in Japan.</p>
                                <p>Ship&amp;co is now available in the Shopify App store and we work very hard to integrate with Japanese transport companies. It takes a lot of time to convince them to &ldquo;share&rdquo; their APIs with us. APis are not seen as technologies that should be open here.</p>

                        <!-- End Interview -->
                        <div id="store-meta-responsive">
                            <h3><strong><%= title %>  <a href="<%= link %>"><i class="fa fa-external-link"></i></a> </strong></h3>
                                <% include ../snippets/store_meta.ejs %>
                            </div>
                            <% include ../snippets/share_buttons.ejs %>
                                <% include ../snippets/mailchimp_footer.ejs %>
                                    </br>

                        </div>
                    </div>
                    <% include ../snippets/disqus.ejs %>

                </div>


            </div>
        </div>
    </div>

    <footer>
        <script>
            // Get Alex info
            $.ajax({
                url: "/alexa-ranking",
                type: 'POST',
                data: {
                    "link": '<%= link %>'
                },
                success: function(data) {

                    xmlDoc = $.parseXML(data.body);
                    parser = new DOMParser();
                    xmlDoc = parser.parseFromString(data.body, 'text/xml');
                    var alexa_rank = (xmlDoc.getElementsByTagName("SD")[0].childNodes[0].getAttribute("TEXT"));
                    $(".alexa_rank").text(alexa_rank);

                },
                error: function(data) {
                    $("#alexa_rank").text("N.A");
                }
            });
        </script>
        <% include ../snippets/footer.ejs %>
    </footer>

    </div>
    <% include ../snippets/page_scripts.ejs %>
</body>

</html>
