<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<header>
    <% include ../snippets/header.ejs %>
</header>
<body>
  <% include ../snippets/nav.ejs %>

        <div id="fh5co-services-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section">
                        <h2><%= title %></h2>
                        <h3>Michael Hagen from <a href="<%= link %>">Hagan Ski Mountaineering</a> talks about distributing an iconic Austrian brand to retail stores in the U.S while also selling online, and having a product with a reputation that speaks for itself.</a> </h3>
                    <!-- Share Buttons (Thanks to Simple Share.com) -->
                    <div id="share-buttons">
                        <!-- Email -->
                        <a href="mailto:?Subject=Built with Shopify Case Study&amp;Body= Interview from built with Shopify - <%= page_link %> " >
                          <span class="fa fa-envelope" aria-hidden="true"></span>
                        </a>
                        <!-- Facebook -->
                        <a href="http://www.facebook.com/sharer.php?u=<%= page_link %>" target="_blank">
                          <span class="fa fa-facebook" aria-hidden="true"></span>
                        </a>
                        <!-- Google+ -->
                        <a href="https://plus.google.com/share?url=<%= page_link %>" target="_blank">
                          <span class="fa fa-google-plus" aria-hidden="true"></span>
                        </a>
                        <!-- LinkedIn -->
                        <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=<%= page_link %>" target="_blank">
                          <span class="fa fa-linkedin" aria-hidden="true"></span>
                        </a>
                        <!-- Reddit -->
                        <a href="http://reddit.com/submit?url=<%= page_link %>&amp;title=eCommerce Case Study" target="_blank">
                          <span class="fa fa-reddit-alien" aria-hidden="true"></span>
                        </a>
                        <!-- Twitter -->
                        <a href="https://twitter.com/share?url=<%= page_link %>&amp;text="Shopify Case Study"&amp;hashtags=Shopify" target="_blank">
                          <span class="fa fa-twitter" aria-hidden="true"></span>
                        </a>
                    </div>
                  </div>

                </div>
                <div class="row fh5co-services-single">

                    <div class="col-md-12 animate-box">
                        <div class="fh5co-services">
                            <div class="holder-section">

                              <h4><strong>Could you tell us a bit about the Hagan brand and how you started selling online in the U.S.A?</strong></h4>
  <p>Hagan makes ski mountaineering gear &mdash; exclusively. An Austrian family-owned business, we focus without distraction on alpine ski touring. We don&rsquo;t make clothing, hiking boots, downhill skis or running shoes. Our focus is entirely on backcountry ski touring/ski mountaineering &mdash; especially light and fast backcountry skiing.</p>
  <div class="videowrapper" style="text-align: center;">
    <iframe width="640" height="360" src="https://www.youtube.com/embed/mtHt3r9bNWA" frameborder="0" allowfullscreen></iframe>
  </div>
  <br />
  <p>We have been making skis and ski touring in the Austrian Alps for 93 years &nbsp;&mdash; perfecting our craft and earning a just reputation for quality, value and performance. Hagan backcountry ski gear is intended for the alpine lifestyle &mdash; long and adventurous ski touring. We build our products for ski mountaineers who regularly leave the sidecountry far behind.</p>
  <p>Hagan keeps prices down by focusing intently on performance and value &mdash; and then letting the skis speak for themselves. We do little marketing. Word of mouth is our most effective advertising. Providing backcountry skiing's best value and combination of weight, durability and performance makes our fans eager to spread the word.</p>
  <p>We don&rsquo;t do much marketing and admittedly are not great at it. It simply isn&rsquo;t our focus. We would rather focus on high quality, well designed, reliable backcountry ski products. We aim to be the brand for people who place a higher priority on the quality and performance of the product than the quality and performance of the marketing.</p>
  <figure>
  <img class="img-responsive" alt="hagan ski shopify mountaineering" src="/images/haganski/skis_shopify.png">
  </figure>
  <br />
  <p>To the big companies, ski mountaineering is a curious, insignificant aside. They make a few products and stick them at the back of their catalogs. Some companies even list their skis after clothing and shoes! You won&rsquo;t find that at Hagan. We aren&rsquo;t jumping on the ski touring bandwagon now that it is cool. We built that wagon. Our heritage is deeply imbedded from over 93 years of the alpine lifestyle ski touring in Austria. Ski Mountaineering isn&rsquo;t insignificant to Hagan. It is all we do &mdash; our life blood. Hagan has the world&rsquo;s widest selection of alpine ski touring gear. We are Pure Ski Mountaineering.</p>
  <p>Despite the confusingly similar spellings of my last name and Hagan, it is simply a coincidence with a backstory. My wife is Austrian. When I first met her, I started ski touring with her father. I used his gear, which included a set of Hagan touring skis. A few years later, we moved to the US and started Skimo racing. Good backcountry ski gear was hard to find back then. I contacted Hagan about a set of racing skis. Instead of just purchasing a set of skis, I became their US importer and distributor.</p>
  <h4><strong>How did you get your first online sale?</strong></h4>
  <p>I tried a few other platforms before Shopify, including building my own site. They didn&rsquo;t work well and the sales process was cumbersome and time consuming - including sending emails back and forth about individual sales.</p>
  <p>I researched Shopify and thought it would create a more professional looking website, and importantly add an online store feature. I had existing customers and a small email customer list, so I started having sales as soon as I launched the site. It has proven to be much easier to use and time saving compared to my earlier efforts.</p>
  <p>Hagan Ski Mountaineering gear is available at a limited number of backcountry ski retailers in the U.S. I am a sole proprietor (with two other jobs!) so I simply haven&rsquo;t had the time to expand my retail sales as much as I would like. Lacking ubiquitous brick and mortar retail availability, I felt I had no option but to have an online store. I am walking the fine line, as many brands are, of enabling direct sales without overly competing with retailers. I try to do this by maintaining full retail prices online on current products, only discounting previous season&rsquo;s gear. When gear is conveniently available at retailers, retailers should be able to win sales based on service. The online stores enable me to reach customers who don&rsquo;t live near a retailer.</p>
  <h4><strong>Did you build your Shopify store yourself or hire a designer and how long did it take to launch?</strong></h4>
  <p>I did it myself. It took about two weeks before I launched my store. I&rsquo;ve been updating and improving it here and there since.</p>
  <h4><strong>What Shopify theme are you using? Have you done any theme customizations?</strong></h4>
  <p>The <a href="http://1.shopifytrack.com/SHVj">Parallax theme</a>&nbsp;by Out of the Sandbox</p>
  <h4><strong>What Shopify apps do you use? Which apps are most important to your business? </strong></h4>
  <p>
  <ul>
    <li><a title="Conversio shopify app" href="http://1.shopifytrack.com/SHTN">Conversio</a></li>
    <li><a href="http://1.shopifytrack.com/SHV1">Shippo</a></li>
    <li><a href="http://1.shopifytrack.com/SHXJ">Quickbooks for Shopify</a></li>
    <li><a href="http://1.shopifytrack.com/SHUN">MailChimp</a></li>
    <li><a href="http://1.shopifytrack.com/SHUJ">Personalizer recommendations by Limespot</a></li>
    <li><a href="http://1.shopifytrack.com/SHWx">Product Reviews</a>&nbsp;and&nbsp;<a href="https://apps.shopify.com/product-reviews-addon">Product Reviews Add On</a></li>
    </ul>
  </p>
  <p>As well as several others that I haven&rsquo;t fully implemented.&nbsp;I&rsquo;d say currently the most used and important is Shippo. It saves a lot of time. Also important are the product reviews, Limespot and Mailchimp.</p>
  <h4><strong>What would you do differently if you had to start over? Are there any blogs or resources that have been helpful for you?</strong></h4>
  <p>I would have done it earlier, and not spent a lot of time and money on other platforms I eventually abandoned.</p>
  <p>I read and learn quite a bit from the <a href="http://1.shopifytrack.com/SHVB">Shopify blogs</a>, sometimes especially the comments!</p>

  <!-- Share Buttons (Thanks to Simple Share.com) -->
  <div id="share-buttons">
      <!-- Email -->
      <a href="mailto:?Subject=Built with Shopify Case Study&amp;Body= Interview from built with Shopify - <%= page_link %> " >
        <span class="fa fa-envelope" aria-hidden="true"></span>
      </a>
      <!-- Facebook -->
      <a href="http://www.facebook.com/sharer.php?u=<%= page_link %>" target="_blank">
        <span class="fa fa-facebook" aria-hidden="true"></span>
      </a>
      <!-- Google+ -->
      <a href="https://plus.google.com/share?url=<%= page_link %>" target="_blank">
        <span class="fa fa-google-plus" aria-hidden="true"></span>
      </a>
      <!-- LinkedIn -->
      <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=<%= page_link %>" target="_blank">
        <span class="fa fa-linkedin" aria-hidden="true"></span>
      </a>
      <!-- Reddit -->
      <a href="http://reddit.com/submit?url=<%= page_link %>&amp;title=eCommerce Case Study" target="_blank">
        <span class="fa fa-reddit-alien" aria-hidden="true"></span>
      </a>
      <!-- Twitter -->
      <a href="https://twitter.com/share?url=<%= page_link %>&amp;text="Shopify Case Study"&amp;hashtags=Shopify" target="_blank">
        <span class="fa fa-twitter" aria-hidden="true"></span>
      </a>
  </div>
                                  <% include ../snippets/mailchimp_footer.ejs %>

                            </div>
                        </div>
                        <% include ../snippets/disqus.ejs %>

                    </div>


                </div>
            </div>
        </div>
        <% include ../snippets/footer.ejs %>
  </body>

</html>
