<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <% include ../snippets/header.ejs %>
</head>
<body>
  <% include ../snippets/nav.ejs %>

        <div id="fh5co-services-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section">
                        <h2><%= title %></h2>
                        <h3>Emile from <a href="https://www.jutahstudios.com/">Jutah Studios</a> has created a unique clothing store on Shopify, selling international brands exclusive to the U.K. He talks about sourcing the right products and the tools that help them grow their online and retail store.</a> </h3>
                        <!-- Share Buttons (Thanks to Simple Share.com) -->
                        <div id="share-buttons">
                            <!-- Email -->
                            <a href="mailto:?Subject=Built with Shopify Case Study&amp;Body= Interview from built with Shopify - <%= page_link %> " >
                              <span class="fa fa-envelope" aria-hidden="true"></span>
                            </a>
                            <!-- Facebook -->
                            <a href="http://www.facebook.com/sharer.php?u=<%= page_link %>" target="_blank">
                              <span class="fa fa-facebook" aria-hidden="true"></span>
                            </a>
                            <!-- Google+ -->
                            <a href="https://plus.google.com/share?url=<%= page_link %>" target="_blank">
                              <span class="fa fa-google-plus" aria-hidden="true"></span>
                            </a>
                            <!-- LinkedIn -->
                            <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=<%= page_link %>" target="_blank">
                              <span class="fa fa-linkedin" aria-hidden="true"></span>
                            </a>
                            <!-- Reddit -->
                            <a href="http://reddit.com/submit?url=<%= page_link %>&amp;title=eCommerce Case Study" target="_blank">
                              <span class="fa fa-reddit-alien" aria-hidden="true"></span>
                            </a>
                            <!-- Twitter -->
                            <a href="https://twitter.com/share?url=<%= page_link %>&amp;text="Shopify Case Study"&amp;hashtags=Shopify" target="_blank">
                              <span class="fa fa-twitter" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row fh5co-services-single">

                    <div class="col-md-12 animate-box">
                        <div class="fh5co-services">
                            <div class="holder-section">
                              <h4><strong>Could you tell us a bit about how you came up for the idea behind Jutah Studios and how you got your first sale?</strong></h4>
                              <p>I&rsquo;ve worked in the retail industry for over ten years first in store management and then in brand development. I was lucky enough to do some travelling with my role and was inspired by the way independent retailers operate throughout Europe so I teamed up with my life partner and visual artist to create a unique contemporary clothing store. We run a brick &amp; mortar store alongside our shopify webstore and use Shopify EPOS hardware including the <a href="https://apps.shopify.com/shopify-pos">POS app</a>&nbsp;and <a href="https://hardware.shopify.com/products/card-reader">Shopify card reader</a>.</p>
                              <img class="img-responsive" alt="Jutah Studios Instagram" src="/images/jutah/jutah_shopify_instagram.png">
                              <figcaption class="figure-caption text-center">Jutah Studios's Instagram</figcaption>
                              </figure>
                              <br />
                              <p>We secured our first online sale, as I expect is the case with many online businesses, through pitching to my friends and family via social media. As it turned out, it was actually an old colleague of mine to make the first ever Jutah purchase. He knew the industry and he wanted to support our venture.</p>
                              <h4><strong>How do you find and pick the right brands to sell?</strong></h4>
                              <p>We prioritise sourcing international brands that are exclusive to the UK, that is our unique selling point. So, our business plan was built on the idea that we would travel to international trade shows to handpick fresh, exciting brands. We also listen to our target market; through social media, blogs and online networks we can track down the most sought after brands, and work hard to uncover underground trends.</p>
                              <p>It's not difficult to pick up a brand these days but finding good, unique and most importantly, non exploitative, brands is the challenge.</p>
                              <img class="img-responsive" alt="Jutah Studios Instagram" src="/images/jutah/jutah_studios_shopify.png">
                              <figcaption class="figure-caption text-center">"You might not see this one on Hypebeast"</figcaption>
                              </figure>
                              <br />
                              <p>Our response to our brand mix has been fantastic overall, but the unknown nature of our brands means be have to peddle hard to gain our customer's trust and convert them into Jutah loyalists.</p>
                              <h4><strong>Did you build your Shopify store yourself or hire a designer and how long did it take to launch?</strong></h4>
                              <p>I built everything myself and it didnt take too long, but we are constantly tweaking. I launched the site within the 30 days free trial offered through Shopify Experts.</p>
                              <p>We have decided to overhaul our design again this season, we are hoping to influence our customer journey slightly differently by showcasing the brands before individual garments. That is the beauty of Shopify; the flexibility and user friendly design.</p>
                              <h4><strong>What theme are you using? Have you done any theme customizations?</strong></h4>
                              <p>We use the <a href="http://troopthemes.com/products/blockshop-theme">Blockshop theme</a>&nbsp;the preset homepage best suited our original design preference. From there I used custom code to tweak the site to meet our specifications. We have recently updated our theme (which meant loosing all my custom code which was a shame and maybe cost me a few months!) but it's all part of the process. Improving your idea will always take time and require perseverance. </p>
                              <h4><strong>What Shopify apps do you use? Which apps are most important to your business?</strong></h4>
                              <p>We have tried out a few apps; some successes and failures. I use:</p>
                              <ul>
                              <li><a href="http://1.shopifytrack.com/SHTj">A free shipping custom bar </a>at the top of my pages which counts down to free shipping</li>
                              <li><a href="http://1.shopifytrack.com/SHUt">SEO image optimizer</a></li>
                              <li><a href="http://1.shopifytrack.com/SHV7">Shoelace</a>&nbsp;for retargeting people who visit our site</li>
                              <li><a href="http://1.shopifytrack.com/SHUp">Semantics Analytics</a></li>
                              <li><a href="http://1.shopifytrack.com/SHUN">Mailchimp</a>&nbsp;to name a few. </li>
                              </ul>
                              <p>We used <a href="http://1.shopifytrack.com/SHU7">Kit</a>&nbsp;last season with mixed results (probably mostly due to our newness and size as much as anything) and have recently installed a fraud filter as have started to see some high risk orders coming into the store as we continue to grow. </p>
                              <p>I find mailchimp interfaces with shopify brilliantly, it is super user friendly. Shoelace is in my opinion the best retargeting app and handles those ads automatically for you. However I am no expert on the apps and I am sure with the right investment and time, they could help to further grow my webstore.</p>
                              <h4><strong>Are there any metrics you can share in terms of order volume or monthly sales?</strong></h4>
                              <p>Our websales are a small part of our business as we continue to grow; about 90% of our sales come from the bricks &amp; mortar which is also where we spend the majority of our time and investment (rent, stationary etc etc). </p>
                                <img class="img-responsive" alt="Jutah Studios Instagram" src="/images/jutah/jutah_storefront.png">
                                <figcaption class="figure-caption text-center">The Storefront</figcaption>
                                </figure>
                                <br />
                                <p>We are getting around 1000 unique hits on the site per month and our bounce rate is less than 5% (the amount of people who go to your site and leave quickly). However there is still a lot of people at the interest phase of the purchase funnel (awareness - interest - consideration - evaluation - purchase) and we need to improve this, so we will be working on that over the next few months.</p>
                              <h4><strong>What would be your biggest source of inbound sales?</strong></h4>
                              <p>Facebook (organic and advertised) drives most of our visitors to the site however, we actually get most of our sales through organic googling (we don&rsquo;t do google ads as are yet to discover the keywords that yield maximum results!)</p>
                              <h4><strong>What would you do differently if you had to start over? Are there any blogs or resources that have been helpful for you?</strong></h4>
                              <p>If I had the chance to start the online business again I wouldn&rsquo;t have designed the site the way we did as I think we tried to fit in with similar retailers instead of creating our own path, which is what we are going to try to do this next season. I probably wasted a bit of money on advertising that I didn&rsquo;t need to but overall I think we made the right decisions with regards to shopify.</p>
                              <p>I use the <a href="http://1.shopifytrack.com/SHVZ">shopify experts page </a>/ <a href="http://1.shopifytrack.com/SHVd">podcasts</a>&nbsp;to get inspiration and the <a title="Shopify forums" href="http://1.shopifytrack.com/SHVJ">shopify forums</a>&nbsp;for custom code. There is also a great community on facebook called <a href="https://www.facebook.com/groups/498010683681188/">Grow &amp; Sell</a>&nbsp;which is just Shopify merchants offering advice to one another.</p>
                              <div class=" col-md-3 animate-box tip-box-left">
                                <h4 class="tip-header">Tip! <span class="tip-bulb fa fa-lightbulb-o" aria-hidden="true"></span></h4>
                                <span>Check out some of my <a href="./resources">favourite resources here</a>.</span>
                              </div>
                              <p>There is a lot of &lsquo;free&rsquo; advice out there but you really do have to sift through the time wasting click bait websites that just want your email to sell it on but it is worth it in the end when you find an app or programme that might help.</p>

                              <!-- Share Buttons (Thanks to Simple Share.com) -->
                              <div id="share-buttons">
                                  <!-- Email -->
                                  <a href="mailto:?Subject=Built with Shopify Case Study&amp;Body= Interview from built with Shopify - <%= page_link %> " >
                                    <span class="fa fa-envelope" aria-hidden="true"></span>
                                  </a>
                                  <!-- Facebook -->
                                  <a href="http://www.facebook.com/sharer.php?u=<%= page_link %>" target="_blank">
                                    <span class="fa fa-facebook" aria-hidden="true"></span>
                                  </a>
                                  <!-- Google+ -->
                                  <a href="https://plus.google.com/share?url=<%= page_link %>" target="_blank">
                                    <span class="fa fa-google-plus" aria-hidden="true"></span>
                                  </a>
                                  <!-- LinkedIn -->
                                  <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=<%= page_link %>" target="_blank">
                                    <span class="fa fa-linkedin" aria-hidden="true"></span>
                                  </a>
                                  <!-- Reddit -->
                                  <a href="http://reddit.com/submit?url=<%= page_link %>&amp;title=eCommerce Case Study" target="_blank">
                                    <span class="fa fa-reddit-alien" aria-hidden="true"></span>
                                  </a>
                                  <!-- Twitter -->
                                  <a href="https://twitter.com/share?url=<%= page_link %>&amp;text="Shopify Case Study"&amp;hashtags=Shopify" target="_blank">
                                    <span class="fa fa-twitter" aria-hidden="true"></span>
                                  </a>
                              </div>
                              <% include ../snippets/mailchimp_footer.ejs %>


                       </div>
                        </div>
                        <% include ../snippets/disqus.ejs %>

                    </div>


                </div>
            </div>
        </div>
        <% include ../snippets/footer.ejs %>
  </body>

</html>
