<!DOCTYPE html>
<!--[ lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <% include ../snippets/header.ejs %>
</head>

<body>
    <nav id="fh5co-main-nav" role="navigation">
        <% include ../snippets/mobile_nav.ejs %>
    </nav>
    <div id="fh5co-page">
        <header>
            <% include ../snippets/nav.ejs %>
        </header>

        <div id="fh5co-services-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section">
                        <h1><strong><%= title %></strong></h1>
                        <h3>George Hodgson created fashion brand <a href="<%= link %>"><%= title %></a> in 2014 to create contemporary, minimalist essentials. He uses the proceeds to support mental health causes like <a href="http://youngmindsnetwork.com/">Youngminds</a> and <a href="https://www.headstogether.org.uk/">Heads Together</a></h3>
                        <!-- Share Buttons -->
                        <% include ../snippets/share_buttons.ejs %>
                    </div>
                </div>
                <div class="row fh5co-services-single">
                    <div class="col-md-12 animate-box">
                        <div class="fh5co-services">
                            <div class="holder-section">
                                <!-- Meta Information -->
                                <div class="col-md-4 animate-box store-meta pull-right">
                                    <div id="store-meta-full">
                                        <h3><%= title %>  <a href="<%= link %>"><i class="fa fa-external-link"></i></a> </h3>
                                        <% include ../snippets/store_meta.ejs %>
                                    </div>
                                </div>
                                <!-- End Meta Information -->
                                <!-- Start Interview -->
                                <h2>Could you tell us a bit about your background and what Maison de Choup sells?</h2>

                                </p>
                                <p>My background, strangely enough, isn&rsquo;t fashion related at all. I went to college to study photography and graphic design. However, in 2012 I became very ill with severe anxiety and OCD, I left college, had no job so I had lots of free time on my hands. I used to go with my father to his office and played around on my computer, I would always draw down my thoughts and feelings in a little notebook and one day I thought &lsquo;why don&rsquo;t I put these on T-Shirts&rsquo;. From that day, I began putting my drawings on T-Shirts using Photoshop but as I thought about it, I thought I could take it further and make it something beautiful, incredible and meaningful. </p>

                                <p>2 years later, Maison de Choup launched. Selling high-end good quality fashion at reasonable prices. But being a fashionable brand isn&rsquo;t just what Maison de Choup is about, being born out of my severe anxiety is where it started, and I wanted to create a brand that wasn&rsquo;t only fashionable but also helped other mental health sufferers. That&rsquo;s why we created the Words Fail Me T-Shirt (#WordsFailMe) 25% of proceeds from each Words Fail Me T-Shirt sold is donated to YoungMinds Charity helping other young sufferers.</p>

                                <p>Why YoungMinds? Because I was that young person, however, I was fortunate enough to get private mental health treatment but I don&rsquo;t know what the young people who can&rsquo;t go privately do and that&rsquo;s why I am partnered with YoungMinds, to help those young sufferers. </p>
                                <img class="img-responsive" alt="Maison de choup words fail me print" src="/images/maison/maison-tshirt.jpg">
                                <figcaption class="figure-caption text-center">25% of the proceeds from the Words Fail Me T-Shirt go to help support young mental health sufferers.</figcaption>
                                <img />
                                <h2>How did you create your first product and get your first sales?</h2>

                                </p>
                                <p>Our first product was actually a collection of very minimalistic T-Shirts, a variation on the current collection. To gain initial awareness and produce sales I messaged about 100 people on Instagram per day for about 6 months asking them to look at the brand and share it, offering them a free T-Shirt. I targeted high influencers, but I also targeted lower followed people and friends, because I believe people are beginning to understand that bloggers are just being paid to write about certain products, whether they like them or not. So my idea was to give the free product to closer people who had a more loyal following and would get what their friends wanted. In a big friend group, it&rsquo;s always about having &lsquo;the next big thing&rsquo; and showing it off, this is what I went in on. &nbsp;</p>

                                </p>
                                <h2>How has Maison de Choup spread amongst artists and designers?</h2>
                                <p>Originally starting with just me and my drawings, we later decided to get a fashion designer involved to help build my vision of a fashionable brand with a mental health cause its heart. To this day, we are continuing to work with designers who actually suffer from mental health problems themselves to help create the upcoming collections. I am also doing a collaboration with a good friend of mine- who is a best-selling author and sufferers from anxiety- to create a limited edition T-Shirt which will be available in May.</p>
                                <img class="img-responsive" alt="Maison de choup products" src="/images/maison/maison-de-shoup-products.png">
                                <figcaption class="figure-caption text-center">Maison de Choup has spread to new product ranges</figcaption>
                                <img />
                                <p>In November 2016, I won the British Fashion Startup Award for the story behind my brand and the inspiring vision. The award has helped with recognition and build a loyal follower base within the fashion industry and mental health advocates alike. We have received some good press coverage from the award and the story behind the brand. </p>
                                <h2>Which Shopify apps do you use? Which apps are most important to your business? </h2>
                                <p>We use quite a few apps, but there are a couple of simple ones that I believe are incredibly important and that every Shopify Store should have. </p>
                                <ul>
                                    <li><a href="http://1.shopifytrack.com/SHWx"><strong>Product Reviews</strong></a> is a must, reviews can increase conversions a great deal, seeing other customers positive reviews on the products can help convert them. </li>
                                    <li><a href="http://1.shopifytrack.com/SHTv"><strong>Improved Contact Form</strong></a> is again, another must, although very boring it&rsquo;s absolutely imperative that your customers can easily get in touch with you if they are having any trouble. </li>
                                    <li><a href="http://1.shopifytrack.com/SHZz"><strong>Wheelio</strong></a> is our latest installation, recently being launched, it is an amazing way to capture customer emails, offering them a prize in return. When they win something, they can then use that to shop and get money off, thus leading to a conversion.</li>
                                </ul>
                                <h2>What is your average monthly revenue or number of orders?</h2>

                                </p>
                                <p>As with every eCommerce store, sales vary from day-to-day, however, as we are heading into Spring/Summer our T-Shirts &amp; Shirts start becoming more popular and people are always looking for the latest fashion. At the moment we are averaging about 20-35 sales per week. The hype is building for our latest collection and we expect to see a spike in sales from this. </p>
                                <h2>What are you working towards now? </h2>

                                </p>
                                <p>We are one month away from releasing the latest collection, which is quite different from the current collection. We have added a variety of different products which we hope will be accessible to a wider audience. Continuing with the mental health background, we have introduced another new anxiety based T-Shirt which will again donate to YoungMinds Charity. More excitingly, we have collaborated with a friend of mine - a best selling author - on a Limited Edition T-Shirt. </p>

                                </p>
                                <p>In terms of the website, there are plans to update it soon and add more content. Improving the blog and community on mental health and fashion. </p>

                                </p>
                                <h2>Where can we learn more?</h2>

                                </p>
                                <p>Maison de Choup and myself are highly active on all social media accounts. You can <a href="https://maisondechoup.co.uk/pages/aboutusyoungminds">find out more about MDC here</a>

                                </p>

                                </p>
                                <p>Follow Us Here:</p>

                                </p>
                                <ul>
                                    <li ><a href="https://www.instagram.com/maisondechoup/">https://www.instagram.com/maisondechoup/</a></li>
                                    <li ><a href="https://twitter.com/maisondechoup">https://twitter.com/maisondechoup</a></li>
                                    <li ><a href="https://www.facebook.com/maisondechoup">https://www.facebook.com/maisondechoup</a></li>
                                    <li ><a href="https://uk.pinterest.com/maisondechoup/">https://uk.pinterest.com/maisondechoup/</a></li>
                                </ul>

                                </p>
                                <p>You can also watch our <a href="https://www.youtube.com/channel/UC4eHZ0ZLiYSe-HbPTJN10rw">new VLOG Series on Youtube</a> called &lsquo;The Journey&rsquo; following myself around building the brand.</p>
                                <p><strong><br />Follow <a href="https://www.instagram.com/georgedavidhodgson/">my personal Journey here</a>.</strong></p>
                                <!-- End Interview -->
                                <div id="store-meta-responsive">
                                    <h3><%= title %>  <a href="<%= link %>"><i class="fa fa-external-link"></i></a> </h3>
                                    <% include ../snippets/store_meta.ejs %>
                                </div>
                                <% include ../snippets/share_buttons.ejs %>
                                    <% include ../snippets/mailchimp_footer.ejs %>
                                        </br>

                            </div>
                        </div>
                        <% include ../snippets/disqus.ejs %>

                    </div>


                </div>
            </div>
        </div>

        <footer>
            <script>
                // Get Alex info
                $.ajax({
                    url: "/alexa-ranking",
                    type: 'POST',
                    data: {
                        "link": '<%= link %>'
                    },
                    success: function(data) {

                        xmlDoc = $.parseXML(data.body);
                        parser = new DOMParser();
                        xmlDoc = parser.parseFromString(data.body, 'text/xml');
                        var alexa_rank = (xmlDoc.getElementsByTagName("SD")[0].childNodes[0].getAttribute("TEXT"));
                        $(".alexa_rank").text(alexa_rank);

                    },
                    error: function(data) {
                        $("#alexa_rank").text("N.A");
                    }
                });
            </script>
            <% include ../snippets/footer.ejs %>
        </footer>

    </div>
    <% include ../snippets/page_scripts.ejs %>
</body>

</html>
