<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <% include ../snippets/header.ejs %>
</head>
<body>
  <% include ../snippets/nav.ejs %>

        <div id="fh5co-services-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section">
                        <h1><%= title %></h1>
                        <h3><a href="<%= link %>">Meraki Design Studio</a> use Shopify to create and sell their stunning wall art including high quality prints and foil prints. </h3>
                        <!-- Share Buttons (Thanks to Simple Share.com) -->
                        <div id="share-buttons">
                            <!-- Email -->
                            <a href="mailto:?Subject=Built with Shopify Case Study&amp;Body= Interview from built with Shopify - <%= page_link %> " >
                              <span class="fa fa-envelope" aria-hidden="true"></span>
                            </a>
                            <!-- Facebook -->
                            <a href="http://www.facebook.com/sharer.php?u=<%= page_link %>" target="_blank">
                              <span class="fa fa-facebook" aria-hidden="true"></span>
                            </a>
                            <!-- Google+ -->
                            <a href="https://plus.google.com/share?url=<%= page_link %>" target="_blank">
                              <span class="fa fa-google-plus" aria-hidden="true"></span>
                            </a>
                            <!-- LinkedIn -->
                            <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=<%= page_link %>" target="_blank">
                              <span class="fa fa-linkedin" aria-hidden="true"></span>
                            </a>
                            <!-- Reddit -->
                            <a href="http://reddit.com/submit?url=<%= page_link %>&amp;title=eCommerce Case Study" target="_blank">
                              <span class="fa fa-reddit-alien" aria-hidden="true"></span>
                            </a>
                            <!-- Twitter -->
                            <a href="https://twitter.com/share?url=<%= page_link %>&amp;text="Shopify Case Study"&amp;hashtags=Shopify" target="_blank">
                              <span class="fa fa-twitter" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row fh5co-services-single">

                    <div class="col-md-12 animate-box">
                        <div class="fh5co-services">
                            <div class="holder-section">

                              <!-- Start Interview -->
                              <h4><strong>Could you tell us a bit about the story behind Meraki Design Studio and what you sell?&nbsp;</strong></h4>
                              <p>I experienced a life changing event about 5 years ago, and decided it was time for a complete overhaul &ndash; including a career change! It&rsquo;s surprising what you can do when you tell yourself you can and I believe the end of one thing is just the catalyst to spark new starts.</p>
                              <p>Meraki <em>pronounced [may-rah-kee],</em> is a modern word often used to describe doing something with <em>soul, creativity, or love</em> &mdash; when you put "something of yourself" into what you're doing, whatever it may be. And that was really the start of me doing what I love. Meraki Design Studio produce a range of modern wall art, including high quality prints and real foil prints. We also customise prints to be a perfect fit for our customers&rsquo; d&eacute;cor colour schemes. Our wall art is unique and affordable, making it easy for interior designers, homeowners and just about anyone who is looking at revamping their interior space and glam up their walls to find the perfect art print!</p>
                              <img class="img-responsive" alt="Meraki Art Prints" src="/images/meraki/meraki_art_prints.png">
                              <figcaption class="figure-caption text-center">Meraki sell wall, kids, foil, typography and personalised art.</figcaption>
                              <img />
                              <h4><strong>Has ecommerce been apart of Meraki Design Studio since you started? When did you get started with Shopify and why did you choose it?</strong></h4>
                              <p>Yes &ndash; I always knew that I wanted to start my business online first, and then venture into other avenues as required. I&rsquo;ve researched a few ecommerce platforms and literally drawn up a spreadsheet listing the pros and cons of each. My list of must-haves was huge, but I basically needed a website that would be scalable for my business, cost effective, user friendly and with a great modern vibe &ndash; well, at the end Shopify was the clear winner and I signed up with them in August 2016.</p>
                              <p>I felt assured that Shopify did not just focus on the look and feel of the templates (which are beautiful of course), but also had a solid understanding on the importance of the back end of a website. I think this complete trajectory allowed Shopify to develop a product that&rsquo;s better than the competition.</p>
                              <h4><strong>You also have pages on social media platforms Facebook, Twitter, Instagram, and Pinterest. How have you found each of these social media platforms to be of use to the consumer awareness and expansion of Meraki Design Studio?</strong></h4>
                              <p>Yes &ndash; MDS are on most of the social media platforms. &nbsp;Due to the visual nature of the product it is great to be able to quickly post a picture of the latest art print and communicate that to followers &ndash; most times even before it&rsquo;s on the website! &nbsp;At the moment I find Facebook and Instagram has the most reach for my customer base. Pinterest does generate some pins, but not any sales.</p>
                              <img class="img-responsive" alt="Meraki Art Prints" src="/images/meraki/featured_products.png">
                              <img />
                              <p>It can be stressful though trying to update all the social media platforms all the time. I find it best to identify which social media platform returns the best results and implement a strong strategy for that specific profile. </p>
                              <h4><strong>Have you considered using any further platforms to expand further on your success?</strong></h4>
                              <p>Meraki Design Studio does have a business profile on <a href="https://www.linkedin.com/company-beta/12892866?pathWildcard=12892866">LinkedIn</a>&nbsp;as well as other local business websites and blogs.</p>
                              <div class=" col-md-3 animate-box tip-box-right pull-right">
                                <h4 class="tip-header">Tip! <span class="tip-bulb fa fa-lightbulb-o" aria-hidden="true"></span></h4>
                                <span>Etsy can be another great marketplace for selling artwork.</span>
                              </div>
                              <p> &nbsp;I also just started blogging on <a href="https://www.bloglovin.com/">Bloglovin</a>&rsquo; &ndash; it is a great tool for keeping up with blogs, allows me to publish from anywhere and is simple to use and integrated.</p>

                              <h4><strong>What are your most successful marketing avenues?</strong></h4>
                              <p>As we know, even a hip and trendy product won&rsquo;t sell itself and you cannot rely solely on word of mouth. A solid marketing plan is critical as well as how and where to invest your hard earned dollars. &nbsp;Well, I am still working at and waiting for that big marketing &ldquo;aha&rdquo; moment! &nbsp;So far I have ventured into Facebook advertising, Google Adwords and Google Shopping. &nbsp;The best results were achieved through Google shopping.</p>
                              <div class=" col-md-3 animate-box tip-box-left">
                                <h4 class="tip-header">Tip! <span class="tip-bulb fa fa-lightbulb-o" aria-hidden="true"></span></h4>
                                <span>Check out our blog post from the Brisbane Shopify Meetup where a rep from Google provides tips on how to use Google Shopping effectively. <a href="/blog/brisbane-shopify-meetup-2017">Read More.</a></span>
                              </div>
                              <p>I am also venturing into local community markets this year and am hopeful that Meraki&rsquo;s art prints will be well received.</p>
                              <h4><strong>Did you build your Shopify store yourself or hire a designer and how long did it take to launch?</strong></h4>
                              <p>At the start there was no budget to hire a designer, and as it turned out - it was not needed at all. I did a complete DIY on my website! Of course with the amazing Shopify templates this was all easy to accomplish and took me a month to complete from a draft structure to the final version. At one point I had to embed coding into the Shopify template, but with the assistance of the Pixel union team, it was really just a matter of copying and paste.</p>
                              <h4><strong>What theme are you using? Have you done any theme customizations?</strong></h4>
                              <p>I used <a href="https://www.pixelunion.net/">Grid from Pixel union</a>. The user theme manual made it easy to customise the theme with my logo, slideshows, pages and product images.&nbsp;</p>
                              <h4><strong>What Shopify apps do you use? Which apps are most important to your business?</strong></h4>
                              <p>Shopify really offers an awesome selection of apps to improve and customise your website with! &nbsp;If I could I would have them all! At the moment I&rsquo;m running a couple of free and paid apps for my site. </p>
                              <p>FREE:</p>
                              <p><a href="http://1.shopifytrack.com/SHXf">Customer Guru </a>- Track customer satisfaction over time and measure how your services improve.</p>
                              <p><a href="http://1.shopifytrack.com/SHXj">Infinite Options</a>&nbsp;&ndash; Allows customers to add customised words/quotes to products and creates unlimited product options and configurations.</p>
                              <p><a href="http://1.shopifytrack.com/SHXn">Google Shopping</a>&nbsp;&ndash; easy steps to list all your products to google shopping.</p>
                              <p><a href="http://1.shopifytrack.com/SHXr">McAfee Secure</a>&nbsp;- Remind customers that the site is secure by displaying the McAfee trustmark and will also scan your site for malware, viruses and other malicious activities.</p>
                              <p><a href="http://1.shopifytrack.com/SHUd">Privy</a>&nbsp;&ndash; Grow email list by managing pop-ups and bulk coupon codes to customers. Also integrates with email marketing platforms ie. Mailchimp.</p>
                              <p>PAID:</p>
                              <p><a title="shopify seo manager" href="http://1.shopifytrack.com/SHUx">SEO Manager</a>&nbsp;by venntov -&nbsp;This app ensure that all my SEO data is entered correctly and is a really time saving ways to ensure I drive traffic to my site and can get my store to show up in the first page of Google.</p>
                              <h4><strong>What would you do differently if you had to start over?&nbsp;</strong></h4>
                              <p>I think being budget conscious as well as having a clear picture of what I wanted to achieve with my website made the process flow rather smoothly.</p>
                              <p>I&rsquo;ve done heaps of research on SEO, Social Media Marketing and product packaging beforehand which really helped to put the whole project into perspective. &nbsp;</p>
                              <h4><strong>Are there any blogs or resources that have been helpful for you?</strong></h4>
                              <p>My valuable resources for information include James Gilbert from HubSpot, the <a href="http://1.shopifytrack.com/SHVB">Shopify Digest</a>&nbsp;(of course) and for a more global read I turn to Sumo.</p>
                              <p>More time and a better looking budget for all my ideas would have been great!</p>
                              <!-- End Interview -->
                              <!-- Share Buttons (Thanks to Simple Share.com) -->
                              <div id="share-buttons">
                                  <!-- Email -->
                                  <a href="mailto:?Subject=Built with Shopify Case Study&amp;Body= Interview from built with Shopify - <%= page_link %> " >
                                    <span class="fa fa-envelope" aria-hidden="true"></span>
                                  </a>
                                  <!-- Facebook -->
                                  <a href="http://www.facebook.com/sharer.php?u=<%= page_link %>" target="_blank">
                                    <span class="fa fa-facebook" aria-hidden="true"></span>
                                  </a>
                                  <!-- Google+ -->
                                  <a href="https://plus.google.com/share?url=<%= page_link %>" target="_blank">
                                    <span class="fa fa-google-plus" aria-hidden="true"></span>
                                  </a>
                                  <!-- LinkedIn -->
                                  <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=<%= page_link %>" target="_blank">
                                    <span class="fa fa-linkedin" aria-hidden="true"></span>
                                  </a>
                                  <!-- Reddit -->
                                  <a href="http://reddit.com/submit?url=<%= page_link %>&amp;title=eCommerce Case Study" target="_blank">
                                    <span class="fa fa-reddit-alien" aria-hidden="true"></span>
                                  </a>
                                  <!-- Twitter -->
                                  <a href="https://twitter.com/share?url=<%= page_link %>&amp;text="Shopify Case Study"&amp;hashtags=Shopify" target="_blank">
                                    <span class="fa fa-twitter" aria-hidden="true"></span>
                                  </a>
                              </div>
                                  <% include ../snippets/mailchimp_footer.ejs %>

                            </div>
                        </div>
                        <% include ../snippets/disqus.ejs %>

                    </div>


                </div>
            </div>
        </div>
        <% include ../snippets/footer.ejs %>
  </body>

</html>
