<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <% include ../snippets/header.ejs %>
</head>
<body>
  <nav id="fh5co-main-nav" role="navigation">
    <% include ../snippets/mobile_nav.ejs %>
  </nav>
  <div id="fh5co-page">
    <header>
      <% include ../snippets/nav.ejs %>
    </header>

    <div id="fh5co-services-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center heading-section">
                  <h1><strong><%= title %></h1>
                    <h3>In this interview, <a href="<%= link %>">Midori Bikinis</a> talk about finding a new fashion trend and bringing it back to their home in California. They have used Instagram to grow their online bikini store to 300K in monthly sales!</h3>
                    <!-- Share Buttons (Thanks to Simple Share.com) -->
                    <div id="share-buttons">
                        <!-- Email -->
                        <a href="mailto:?Subject=Built with Shopify Case Study&amp;Body= Interview from built with Shopify - <%= page_link %> ">
                            <span class="fa fa-envelope" aria-hidden="true"></span>
                        </a>
                        <!-- Facebook -->
                        <a href="http://www.facebook.com/sharer.php?u=<%= page_link %>" target="_blank">
                            <span class="fa fa-facebook" aria-hidden="true"></span>
                        </a>
                        <!-- Google+ -->
                        <a href="https://plus.google.com/share?url=<%= page_link %>" target="_blank">
                            <span class="fa fa-google-plus" aria-hidden="true"></span>
                        </a>
                        <!-- LinkedIn -->
                        <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=<%= page_link %>" target="_blank">
                            <span class="fa fa-linkedin" aria-hidden="true"></span>
                        </a>
                        <!-- Reddit -->
                        <a href="http://reddit.com/submit?url=<%= page_link %>&amp;title=eCommerce Case Study" target="_blank">
                            <span class="fa fa-reddit-alien" aria-hidden="true"></span>
                        </a>
                        <!-- Twitter -->
                        <a href="https://twitter.com/share?url=<%= page_link %>&amp;text=" Shopify Case Study "&amp;hashtags=Shopify" target="_blank">
                            <span class="fa fa-twitter" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row fh5co-services-single">

                <div class="col-md-12 animate-box">
                    <div class="fh5co-services">
                        <div class="holder-section">
    <!-- Meta Information -->
    <div class="col-md-4 animate-box store-meta pull-right">
        <div id="store-meta-full">
            <h3><%= title %>  <i class="fa fa-external-link"></i> </h3>
            <% include ../snippets/store_meta.ejs %>
        </div>
    </div>
    <!-- End Meta Information -->

                            <!-- Start Interview -->
                            <h4><strong>Could you tell us a bit about the story behind Midori Bikinis and what you sell? </strong></h4>
                            <p><a href="https://www.midoribikinis.com/">Midori Bikinis</a>&nbsp;was dreamed up Summer of 2011 when I booked a one-way trip to visit my now-husband on his tropical home island of Oahu. In the weeks before I left I purchased
                                quite a few bikinis, all full bottom (definitely the standard at the time, particularly in sunny California). When I got to the beach with him I realized that the style was completely different in Hawaii- full bottoms were
                                out in favor of cheeky little Brazilian bikinis.<br /> I purchased my first two bottoms at a pretty price and immediately felt confused at the fact that these bottoms required so much less fabric yet cost twice if not three
                                times the amount of the other full- bottom bikinis I had purchased at home.<br />
                                <br />
                                <img class="img-responsive" alt="Luks Linen Shopify" src="/images/midori/midori_shopify_beach.png">
                                <p>
                                    Midori Bikinis offers unique bikinis in adorable prints to our 100,000+ past and present customers who value quality at affordable prices. Our service begins at our user-friendly website and continues with fast shipping times through to free worldwide
                                    shipping and free returns.</p>
                                <h4><strong>Has ecommerce been apart of Midori Bikinis since you started? When did you get started with Shopify and why did you choose it? </strong></h4>
                                <p>Yes, <a href="https://www.midoribikinis.com/">MIDORI BIKINIS</a> has always been an online retailer- ever since we released our first line in 2011. The first platform we worked with was WIX followed by an array of other
                                    smaller ecommerce platforms. We got started with Shopify in 2013 and have never looked back. It offered the best themes by far and allowed for advanced customization along with superior customer support.</p>

                                <h4><strong>You have also used media platforms Facebook, Twitter, Instagram, Snapchat, and Pinterest. How have you found each of these media platforms to be of value to the expansion and consumer awareness of your brand/the success of the brand? </strong></h4>

                                <p>Instagram has spread the most awareness of Midori Bikinis and created the most value for us through user- generated content. Our swimwear line is frequently tagged within our customers’ posts; illustrating proof of purchase
                                    to those who may be contemplating shopping with us.<br /> Until late 2016, we didn’t take advantage of Facebook ads however since then we’ve begun to navigate the platform and have found that it’s helped us in our efforts
                                    to reengage past customers while also channeling new customers to our site. </p>
                                <img class="img-responsive" alt="Luks Linen Shopify" src="/images/midori/midori_bikinis_shopify.png">
                                <figcaption class="figure-caption text-center">Some of Midori's latest fashion from their <a href="https://www.instagram.com/midoribikinis/">Instagram</a></figcaption>
                                <br />
                                <div class=" col-md-3 animate-box tip-box-left">
                                    <h4 class="tip-header">Tip! <span class="tip-bulb fa fa-lightbulb-o" aria-hidden="true"></span></h4>
                                    <span>Some sales channels like Pinterest won't grow sales directly but will be more effective at growing your brand and improving sales long-term.</span>
                                </div>
                                <p>While sales through Pinterest have been almost nil we do find that engaging with past customers through it has helped maintain loyalty to our brand. Our Snapchat following grew fast and added value by allowing for almost
                                    immediate responses to customer questions.</p>
                                <h4><strong>What are your most successful marketing avenues?</strong></h4>
                                <div class=" col-md-3 animate-box tip-box-right pull-right">
                                    <h4 class="tip-header">Store Fact! <span class="tip-bulb fa fa-lightbulb-o" aria-hidden="true"></span></h4>
                                    <span>Midori has also grown their email list to over 70,000 subscribers.</span>
                                </div>
                                <p>Instagram is our most successful marketing avenue.</p>

                                <h4><strong>Did you build your Shopify store yourself or hire a designer and how long did it take to launch?</strong></h4>
                                <p>I built our Shopify store from a store theme, we initially launched within two weeks.</p>
                                <h4><strong>What theme are you using? Have you done any theme customizations?</strong></h4>
                                <p>Our current theme is <a href="https://outofthesandbox.com/products/turbo-theme-portland">Turbo</a>. We have done minor customizations to it. </p>
                                <h4><strong>What Shopify apps do you use? Which apps are most important to your business? </strong></h4>
                                <p>First and most importantly we use <a title="Shopify shipstation app" href="http://1.shopifytrack.com/SHT1">ShipStation</a>&nbsp;for order fulfillment.</p>
                                <p>Other apps we utilize on a weekly basis include:</p>
                                <ul>
                                    <li>&nbsp;<a href="http://1.shopifytrack.com/SHTd">Fomo</a></li>
                                    <li><a href="http://1.shopifytrack.com/SHTV">Crush.pics</a>&nbsp;to compress photo size</li>
                                    <li><a href="http://1.shopifytrack.com/SHU3">Judge.me</a>&nbsp;for reviews (highly recommended over Yotpo which we used for 2 years)</li>
                                    <li>and <a href="http://1.shopifytrack.com/SHTh">FourSixty</a>&nbsp;for displaying user generated content + a shoppable Instagram feed.</li>
                                </ul>
                                <h4><strong>Are there any metrics you can share in terms of order volume or monthly sales?</strong></h4>
                                <p>Monthly sales in 2016 topped at just over 300k for our highest grossing month (May).</p>
                                <h4><strong>What would you do differently if you had to start over? Are there any blogs or resources that have been helpful for you?</strong></h4>
                                <p>There&rsquo;s truly nothing I would do differently if I had to start over. Everything we&rsquo;ve gone through for the better or worse has lead us to where we are today and we couldn&rsquo;t be more excited or thankful
                                    for the opportunity to continue to grow in 2017!</p>
                                    <!-- End Interview -->
                                    <div id="store-meta-responsive">
                                        <h3><%= title %>  <i class="fa fa-external-link"></i> </h3>
                                        <% include ../snippets/store_meta.ejs %>
                                    </div>
                                    <% include ../snippets/share_buttons.ejs %>
                                        <% include ../snippets/mailchimp_footer.ejs %>
                                            </br>

                                </div>
                            </div>
                            <% include ../snippets/disqus.ejs %>

                        </div>


                    </div>
                </div>
            </div>

            <footer>
              <script>
            	  // Get Alex info
            	  $.ajax({
            	    url : "/alexa-ranking",
            	    type: 'POST',
            	    data : {"link" : '<%= link %>'},
            	    success : function(data) {

            	      xmlDoc = $.parseXML( data.body );
            	      parser = new DOMParser();
            	      xmlDoc = parser.parseFromString(data.body, 'text/xml');
            	      var alexa_rank = (xmlDoc.getElementsByTagName("SD")[0].childNodes[0].getAttribute("TEXT"));
            	      $(".alexa_rank").text(alexa_rank);

            	    },
            	    error : function(data) {
            	      $("#alexa_rank").text("N.A");
            	    }
            	  });
            	</script>
                <% include ../snippets/footer.ejs %>
            </footer>

        </div>
        <% include ../snippets/page_scripts.ejs %>
    </body>

        </html>
