<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <% include ../snippets/header.ejs %>
</head>
<body>
  <% include ../snippets/nav.ejs %>

        <div id="fh5co-services-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section">
                        <h1><%= title %></h1>
                        <h3><a href="<%= link %>">MMORE</a> have created a range of unique, nature inspired iPhone cases that have been featured in magazines like GQ, Glamour and Trendhunter.</h3>
                        <!-- Share Buttons (Thanks to Simple Share.com) -->
                        <div id="share-buttons">
                            <!-- Email -->
                            <a href="mailto:?Subject=Built with Shopify Case Study&amp;Body= Interview from built with Shopify - <%= page_link %> " >
                              <span class="fa fa-envelope" aria-hidden="true"></span>
                            </a>
                            <!-- Facebook -->
                            <a href="http://www.facebook.com/sharer.php?u=<%= page_link %>" target="_blank">
                              <span class="fa fa-facebook" aria-hidden="true"></span>
                            </a>
                            <!-- Google+ -->
                            <a href="https://plus.google.com/share?url=<%= page_link %>" target="_blank">
                              <span class="fa fa-google-plus" aria-hidden="true"></span>
                            </a>
                            <!-- LinkedIn -->
                            <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=<%= page_link %>" target="_blank">
                              <span class="fa fa-linkedin" aria-hidden="true"></span>
                            </a>
                            <!-- Reddit -->
                            <a href="http://reddit.com/submit?url=<%= page_link %>&amp;title=eCommerce Case Study" target="_blank">
                              <span class="fa fa-reddit-alien" aria-hidden="true"></span>
                            </a>
                            <!-- Twitter -->
                            <a href="https://twitter.com/share?url=<%= page_link %>&amp;text="Shopify Case Study"&amp;hashtags=Shopify" target="_blank">
                              <span class="fa fa-twitter" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row fh5co-services-single">

                    <div class="col-md-12 animate-box">
                        <div class="fh5co-services">
                            <div class="holder-section">

                              <!-- Start Interview -->
                              <h4><strong>Can you tell us a bit about your background and how that led you to starting MMORE?</strong></h4>
                              <p>My name is Ziga Lunder I am from Slovenia. </p>
                              <p>I wanted to create something different, something to do with nature and technology. I used my skills from cad/cam design, material handling, wood handcrafting, natural coatings, tech crunching and IT to create more, much more. MMORE.</p>
                              <img class="img-responsive" alt="Mmore organic iPhone cases" src="/images/mmore/mmore_shopify_organic_iphone_cases.png">
                              <figcaption class="figure-caption text-center">MMORE's organic, nature inspired iPhone cases</figcaption>
                              <br />

                              <p>As far back as I remember, I had been inspired by nature and technology. Back in primary school I got really interested in computers and I.T science. It became my passion and later developed into my career. But at some point I realized I had lost my connection with myself. I wanted to return to my roots, so I started to practice outdoor sports. I came to love hiking, running and energizing strolls in the forest. My increased connection with nature made me think about ways to connect nature with the ever-present technology of the modern world. Nowadays technology is all around us, but we are especially connected with our cell phones, which are always within reach. Making this piece of technology more natural and soothing to the senses is a great way to bridge the gap between nature and technology. With that in mind I made my first wood case. But I wanted to bring the experience to the next level, so I picked out exclusive natural materials and started making unique, aromatic cases, with the feeling and scent of the natural material they are made of.</p>
                              <div class="videowrapper" style="text-align: center;">
                                <iframe width="640" height="360" src="https://www.youtube.com/embed/Psl8CKw21CE" frameborder="0" allowfullscreen></iframe>
                              </div>
                              <br />
                              <h4><strong>What did it take to launch your first product and how did you get your first sale?</strong></h4>
                              <p>Well the competition on the market is tough so my angle was to offer something that is completely uniqu. No one else does it or will do it since it is hand crafted. That is actually a disadvantage but a long term advantage, but you have to invest a lot into marketing. My first sale was actually to a Slovenian client. When I show the cases in person people see the difference and uniqueness and are hooked right away, that is why retail is also our strongest market.</p>
                              <img class="img-responsive" alt="Mmore quality organic iPhone cases" src="/images/mmore/mmore_cases_shopify_iphone_cases_quality.jpg">
                              <figcaption class="figure-caption text-center">Handcrafted with love, commitment to uniqueness and quality & satisfaction guaranteed</figcaption>
                              <br />
                              <p>We are now focusing a lot on our Dropshipping partnership program and it has been growing really strong. Our focus is to offer a really high margin, a unique product, stellar service and shipping (US market fulfilled by Amazon stock). If anyone is hungry for a good opportunity is reading this, just drop us an email on <a href="mailto:info@mmore.net">info@mmore.net</a>.</p>
                              <h4><strong>Did being featured in publications like GQ and TrendHunter impact your business? </strong></h4>
                              <p>It did help with the traffic and some sales, but not in a way that I would be blown away. It is a very peculiar product and therefore it does not cater to the general public.</p>
                              <img class="img-responsive" alt="Worlds thinnest full body iPhone case" src="/images/mmore/lightest_and_thinnest_full_body_case.jpg">
                              <figcaption class="figure-caption text-center">MMORE's carbon collection</figcaption>
                              <br />
                              <h4><strong>Did you build your Shopify store yourself or hire a designer and how long did it take to launch? </strong></h4>
                              <p>I actually started on WordPress on WooCommerce with a designer. But I needed to implement a lot of updates and going back and forth which was really killing my productivity and since I am computer literate I decided to use a platform specialized for ecommerce and make it myself. It was an easy and straightforward process.</p>
                              <h4><strong>What theme are you using? Have you done any theme customizations?</strong></h4>
                              <p>We use <a href="https://themeforest.net/item/ella-responsive-shopify-template/9691007">ELLA theme</a>. The support is just amazing and yes there are theme customizations, mainly layout related.</p>
                              <h4><strong>What Shopify apps do you use? Which apps are most important to your business? </strong></h4>
                              <p>
                              <ul>
                              <li><a href="http://1.shopifytrack.com/SHZz">Wheelio</a>&nbsp;is by far the best lead capture app</li>
                              <li><a href="http://1.shopifytrack.com/SHV7">Shoelace</a>&nbsp;for easy FB retargeting</li>
                              <li><a href="http://1.shopifytrack.com/SHa3">Product reviews addon</a>&nbsp;for review captures</li>
                              <li>and <a href="http://1.shopifytrack.com/SHUN">Mailchimp</a>&nbsp;for mailing.</li>
                              </ul>
                              </p>
                              <p>Targeted traffic generation is the biggest issue with all stores in my opinion.</p>
                              <h4><strong>What would you do differently if you had to start over? Are there any blogs or resources you would recommend?</strong></h4>
                              <p>I would recommend the <a href="http://1.shopifytrack.com/SHVB">shopify blogs</a>&nbsp;to start with and <a href="https://www.facebook.com/groups/onlinesamurais/">Frank Hatchett</a>&nbsp;has been instrumental as well for getting up to speed on a more advanced level. Also <a href="https://conversionpirate.com/author/admin/">Karlo Bradica</a>&nbsp;is the source to check for useful hand on approaches. To be honest there is just too much general information and not that much hands on methods, usually I just close a post or mail if there aren&rsquo;t any screenshots of how to do something because I know it is just banter. Once you read the same thing over and over again I am sure all of you do as well :) If I started over I would not change a thing since all has been a learning process and an ecommerce business is very, very hard, harder than other models and I think people do not realise that. It takes much more time to scale the business or if it doesn&rsquo;t and you are working in a high demand sector it can change in a day (just saw amazon launched its own supplements for instance).</p>
                              <!-- End Interview -->
                              <!-- Share Buttons (Thanks to Simple Share.com) -->
                              <div id="share-buttons">
                                  <!-- Email -->
                                  <a href="mailto:?Subject=Built with Shopify Case Study&amp;Body= Interview from built with Shopify - <%= page_link %> " >
                                    <span class="fa fa-envelope" aria-hidden="true"></span>
                                  </a>
                                  <!-- Facebook -->
                                  <a href="http://www.facebook.com/sharer.php?u=<%= page_link %>" target="_blank">
                                    <span class="fa fa-facebook" aria-hidden="true"></span>
                                  </a>
                                  <!-- Google+ -->
                                  <a href="https://plus.google.com/share?url=<%= page_link %>" target="_blank">
                                    <span class="fa fa-google-plus" aria-hidden="true"></span>
                                  </a>
                                  <!-- LinkedIn -->
                                  <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=<%= page_link %>" target="_blank">
                                    <span class="fa fa-linkedin" aria-hidden="true"></span>
                                  </a>
                                  <!-- Reddit -->
                                  <a href="http://reddit.com/submit?url=<%= page_link %>&amp;title=eCommerce Case Study" target="_blank">
                                    <span class="fa fa-reddit-alien" aria-hidden="true"></span>
                                  </a>
                                  <!-- Twitter -->
                                  <a href="https://twitter.com/share?url=<%= page_link %>&amp;text="Shopify Case Study"&amp;hashtags=Shopify" target="_blank">
                                    <span class="fa fa-twitter" aria-hidden="true"></span>
                                  </a>
                              </div>
                              <% include ../snippets/mailchimp_footer.ejs %>

                            </div>
                        </div>
                        <% include ../snippets/disqus.ejs %>

                    </div>


                </div>
            </div>
        </div>
        <% include ../snippets/footer.ejs %>
  </body>

</html>
