<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <% include ../snippets/header.ejs %>
</head>

<body>
    <% include ../snippets/nav.ejs %>

        <div id="fh5co-services-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section">
                        <h1><%= title %></h1>
                        <h3>Adrian from <a href="<%= link %>">Modern Producers</a> has worked with artists like Snoop Dogg and Wu Tang Clan as award-winning producer Anno Domini.
                           He used his reputation to build a community of artists and sell audio software and has begun transitioning to a monthly subscription business model.</h3>
                        <!-- Share Buttons (Thanks to Simple Share.com) -->
                        <div id="share-buttons">
                            <!-- Email -->
                            <a href="mailto:?Subject=Built with Shopify Case Study&amp;Body= Interview from built with Shopify - <%= page_link %> ">
                                <span class="fa fa-envelope" aria-hidden="true"></span>
                            </a>
                            <!-- Facebook -->
                            <a href="http://www.facebook.com/sharer.php?u=<%= page_link %>" target="_blank">
                                <span class="fa fa-facebook" aria-hidden="true"></span>
                            </a>
                            <!-- Google+ -->
                            <a href="https://plus.google.com/share?url=<%= page_link %>" target="_blank">
                                <span class="fa fa-google-plus" aria-hidden="true"></span>
                            </a>
                            <!-- LinkedIn -->
                            <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=<%= page_link %>" target="_blank">
                                <span class="fa fa-linkedin" aria-hidden="true"></span>
                            </a>
                            <!-- Reddit -->
                            <a href="http://reddit.com/submit?url=<%= page_link %>&amp;title=eCommerce Case Study" target="_blank">
                                <span class="fa fa-reddit-alien" aria-hidden="true"></span>
                            </a>
                            <!-- Twitter -->
                            <a href="https://twitter.com/share?url=<%= page_link %>&amp;text=" Shopify Case Study "&amp;hashtags=Shopify" target="_blank">
                                <span class="fa fa-twitter" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row fh5co-services-single">

                    <div class="col-md-12 animate-box">
                        <div class="fh5co-services">
                            <div class="holder-section">

                                <!-- Start Interview -->
                                <h4><strong>Could you tell us a bit about the story behind Modern Producers and what you sell?</strong></h4>
                                <p><a href="https://www.modernproducers.com/">Modern Producers</a> is an online store for music producers. We sell products and software for the modern music producer, including drum kits, loop packs, sample collections, VSTs
                                    and vocal services.</p>
                                <figure>
                                    <img class="img-responsive" alt="modern producers" src="/images/modern_producers/shopify_modern_producers_product.png">
                                    <figcaption class="figure-caption text-center">Samples are high-quality, prerecorded audio tracks for music producers.</figcaption>
                                    </img>
                                </figure>
                                </br>
                                <h4><strong>How did you get your first sale?</strong></h4>
                                <p>I already ran various other music companies including <a href="https://annodominination.com/">Anno Domini Nation</a> which is a multi-platinum music production company, so this helped a lot in reaching an audience and spreading
                                    the word about our new website.</p>
                                <div class=" col-md-3 animate-box tip-box-right pull-right">
                                    <h4 class="tip-header">Tip! <span class="tip-bulb fa fa-lightbulb-o" aria-hidden="true"></span></h4>
                                    <span>Adrian was apart of the community he was helping to grow which meant he had a loyal customer base before ever launching.</span>
                                </div>
                                <p> Initially our first sales all came from promoted social media posts and a newsletter we sent out to our Anno Domini Nation customers. Cross-promotion can definitely be a powerful strategy if you or your partners are already
                                    tapped into your target customer base.</p>
                                <h4><strong>When did you get started with Shopify and why did you choose it?</strong></h4>
                                <p>I got started with Shopify in 2015 and I chose it because it provides a very streamlined process. It's very easy to get started and start selling products right away, yet complex and flexible enough to grow your business
                                    into something substantial.</p>
                                <div class=" col-md-3 animate-box tip-box-left">
                                    <h4 class="tip-header">Tip! <span class="tip-bulb fa fa-lightbulb-o" aria-hidden="true"></span></h4>
                                    <span>Apps like <a href="http://1.shopifytrack.com/SHYL">SendOwl</a> and the <a href="http://1.shopifytrack.com/SHYZ">Shopify Digital Downloads</a> app let you sell digital products.</span>
                                </div>
                                <h4><strong>What are your most successful marketing avenues?</strong></h4>
                                <p>I primarily use our mailing list and Facebook ads.</p>
                                <p>Engage your audience in a conversation. Don't give them the hard sell. Post interesting, useful and funny things and only sprinkle your promotions in there from time to time.</p>
                                <h4><strong>Did you build your Shopify store yourself or hire a designer and how long did it take to launch?</strong></h4>
                                <p>It was built from scratch, using a template as a starting point. It didn't take long and there was no need to hire a designer, other than to create our company logo.</p>
                                <div class=" col-md-3 animate-box tip-box-right pull-right">
                                    <h4 class="tip-header">Tip! <span class="tip-bulb fa fa-lightbulb-o" aria-hidden="true"></span></h4>
                                    <span>Check out <a href="https://www.logojoy.com/">LogoJoy</a>, an AI powered logo maker.</span>
                                </div>
                                <h4><strong>What Shopify apps do you use? Which apps are most important to your business?</strong></h4>
                                <p>We use <a href="http://1.shopifytrack.com/SHYL">SendOwl</a>&nbsp;for delivery of our digital downloads. Couldn't live without it. We also use <a href="http://1.shopifytrack.com/SHYP">Soundest</a>&nbsp;for curating our mailing
                                    list and sending out our weekly newsletter. I'm also a big fan of the <a href="http://1.shopifytrack.com/SHYT">Boost Sales app</a>&nbsp;(for cross-selling) and <a href="http://1.shopifytrack.com/SHYX">Countdown Timer Bar</a>&nbsp;to
                                    create urgency and promote sales. Both of these have significantly grown our revenue.</p>
                                <h4><strong>Are there any metrics you can share in terms of order volume or monthly sales?</strong></h4>
                                <p>We're about to fulfill our 10,000th order so that's a great milestone for us! Though we are constantly growing, we currently send out about 1000 orders a month and gross $40,000 - about a third of that comes from a monthly
                                    subscription service.</p>
                                <h4><strong>What would you do differently if you had to start over?</strong></h4>
                                <p>I would have started up our monthly subscription service a lot sooner. The recurring revenue is a great foundation for financial planning. Also I would have invested more into Facebook advertising early on as this really
                                    helped us grow disproportionately over the last half year or so.</p>
                                <!-- End Interview -->
                                <!-- Share Buttons (Thanks to Simple Share.com) -->
                                <div id="share-buttons">
                                    <!-- Email -->
                                    <a href="mailto:?Subject=Built with Shopify Case Study&amp;Body= Interview from built with Shopify - <%= page_link %> ">
                                        <span class="fa fa-envelope" aria-hidden="true"></span>
                                    </a>
                                    <!-- Facebook -->
                                    <a href="http://www.facebook.com/sharer.php?u=<%= page_link %>" target="_blank">
                                        <span class="fa fa-facebook" aria-hidden="true"></span>
                                    </a>
                                    <!-- Google+ -->
                                    <a href="https://plus.google.com/share?url=<%= page_link %>" target="_blank">
                                        <span class="fa fa-google-plus" aria-hidden="true"></span>
                                    </a>
                                    <!-- LinkedIn -->
                                    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=<%= page_link %>" target="_blank">
                                        <span class="fa fa-linkedin" aria-hidden="true"></span>
                                    </a>
                                    <!-- Reddit -->
                                    <a href="http://reddit.com/submit?url=<%= page_link %>&amp;title=eCommerce Case Study" target="_blank">
                                        <span class="fa fa-reddit-alien" aria-hidden="true"></span>
                                    </a>
                                    <!-- Twitter -->
                                    <a href="https://twitter.com/share?url=<%= page_link %>&amp;text=" Shopify Case Study "&amp;hashtags=Shopify" target="_blank">
                                        <span class="fa fa-twitter" aria-hidden="true"></span>
                                    </a>
                                </div>
                                <% include ../snippets/mailchimp_footer.ejs %>
                            </div>
                        </div>
                        <% include ../snippets/disqus.ejs %>

                    </div>


                </div>
            </div>
        </div>
        <% include ../snippets/footer.ejs %>
</body>

</html>
