<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <% include ../snippets/header.ejs %>
</head>

<body>
    <nav id="fh5co-main-nav" role="navigation">
        <% include ../snippets/mobile_nav.ejs %>
    </nav>
    <div id="fh5co-page">
        <header>
            <% include ../snippets/nav.ejs %>
        </header>

        <div id="fh5co-services-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section">
                        <h1><strong><%= title %></h1>
                        <h3>George from <a href="<%= link %>">Petrichor</a> talks about their journey to create an organic, natural food and wellness store in Bangalore, India.</h3>
                        <!-- Share Buttons -->
                        <% include ../snippets/share_buttons.ejs %>
                    </div>
                </div>
                <div class="row fh5co-services-single">

                    <div class="col-md-12 animate-box">
                        <div class="fh5co-services">
                            <div class="holder-section">
    <!-- Meta Information -->
    <div class="col-md-4 animate-box store-meta pull-right">
        <div id="store-meta-full">
            <h3><%= title %>  <a href="<%= link %>"><i class="fa fa-external-link"></i></a> </h3>
            <% include ../snippets/store_meta.ejs %>
        </div>
    </div>
    <!-- End Meta Information -->

                                <!-- Start Interview -->
                                <h4><strong>Can you tell us a bit about Petrichor and how you started?</strong></h4>
                                <p>Petrichor was a concept that was started by 3 engineering college graduates (George, Joseph and Reeth) back in 2014 through their common interest and love for food. Having worked in different fields of energy, HVAC and water treatment solutions, all of us wanted to start something of our own in the food industry. Joseph&rsquo;s father, Stanley (my uncle as well) is the Managing Director of a prominent real estate development company which focuses on sustainable living through intelligent design and locally sourced materials. It was through a brainstorming session among all 4 of us that Petrichor was formed.<br />
                                  All of us have organic farms back in the country side where we cultivate paddy, spices, coffee, fruits, etc. All of this produce was being sold to the local traders who would buy them at below market rates and eventually mix them with the conventional produce which had been grown using chemical pesticides and fertilizers. What a waste of great organic produce! So we started marketing the produce grown in our own farms first. At the same time, we were busy meeting many people in this field to learn and understand how to get around in the organic food business and also working on the branding activity. <br />This took about a full year! We met many organic farmers, existing brand owners, organic and health food store owners, various consumers of organic food, well wishing grandmothers, NGOs, Self help groups, Farmer Producer Organizations (FPOs), etc. Its during one of these meetings that we came in contact with two social organizations, one of which is a rural women run seeds saving collective and the other being a women run farmer producer group. Both of them were producing organic products, some of which were even value added. However they were lacking marketing support and needed someone to help promote their produce in Bangalore. We decided to fill that role as well. So there we were, with the produce of two social organizations, and from our own farms, ready to start sales.</p>
                                <h4><strong>What did it take to launch your first products and how did you get your first sale?</strong></h4>
                                <p>We procured products from the two social organizations with the promise of paying them within a 30 day credit period. And from the farms in our countryside, we had spices, like black pepper, clove, cinnamon and turmeric, and wild forest honey. </p>
                                <figure>
                                <img style="width: 50%; height: 50%;" class="img-responsive" alt="Petrichor Organic Wild Honey" src="/images/petrichor/shopify_petrichor_wild_honey_built_with_shopify.jpg">
                                  <figcaption class="figure-caption text-center">Organic, wild forest honey</figcaption>
                                  </figure>
                                </img>
                                </br>
                                <p>We started conducting Community Organic <em>Mandis </em>(Mandi means a market in Hindi), wherein we open a pop up store in a residential community for 3 hours in the evening, twice a week. We opened our first pop up in a residential community where Joseph stayed. The customers from that first sale are still with us, purchasing goodies from us every week. We opened our website through Shopify only in October 2016. And it was easy for the customers to switch from ordering through google forms, which is what we were doing in parallel to the Community Organic Mandis, to Shopify simply due to the various conveniences of ordering through a website. </p>
                                <h4><strong>How do you source your products?</strong></h4>
                                <p>We source our products directly from the farms. We first visit every organic farmer that we procure from and get to completely understand his values and vision and how he/she sees themselves growing with us. We also conduct a soil test to check for chemical fertilizers used and sometimes even a pesticides residues test on a random sample taken by us to ensure that the produce is free from harmful chemicals.</p>
                                <img style="width: 50%; height: 50%;" class="img-responsive" alt="Petrichor Organic Wild Honey" src="/images/petrichor/built_with_shopify_petrichor.jpg">

                                </img>
                                </br>
                                <h4><strong>What Shopify apps do you use? Which apps are most important to your business? </strong></h4>
                                <p>I use the <a title="zapiet shopify app" href="http://1.shopifytrack.com/SHav" target="_blank">zapiet store pickup+deliveries app</a>. That has been a lifesaver in helping me segregate and plan my deliveries according to zipcodes. I also use the <a title="shopify orderly print app" href="http://1.shopifytrack.com/SHb1" target="_blank">orderly print app</a>, to help my collate the orders and to creat a picking list which helps me know what products need to be packed and what quantities of vegetables and fresh greens need to be ordered from our organic vegetables and greens vendor. I also use the <a title="kudobuzz testimonials shopify app" href="http://1.shopifytrack.com/SHax" target="_blank">Kudobuzz testimonials and reviews</a>&nbsp;app for automated feedback request.</p>
                                <h4><strong>Are there any metrics you can share in terms of order volume or monthly sales?</strong></h4>
                                <p>From October 2016 we have increased from almost Rs.90,000 (USD $1,385) a month to almost Rs.250,000 (USD $3,850) a month in a span of 6 months. We&rsquo;ve kept an ambitious target of Rs. 8,000,000 (USD $123,000) for 2017-18 and we&rsquo;re geared up! &nbsp;</p>
                                <h4><strong>What would you do differently if you had to start over?</strong></h4>
                                <p>I guess I would have switched to Shopify much earlier than I had. We were expecting to release our website separately through a freelance developer and it was just being delayed without any surety of closure! Shopify was decided on as a result of frustration due to the never ending back and forth between the developer and me. The Shopify help center has been very helpful during times when I felt like I hit a roadblock, since I know 0 in terms of building a website. Although I do wish there was a &ldquo;call us&ldquo; Shopify support feature for sellers in India!</p>
                                <h4><strong>What have been some of your biggest challenges or what has had the biggest impact on growth?</strong></h4>
                                <p>Our strategy has been more offline than online as our customers are local and our products are primarily your daily groceries-all organic and locally sourced! One of our challenges has been reaching out to customers effectively through social media and being able to create a visually appealing story through beautiful pictures and videos to show people what we do. </p>
                                <img style="width: 50%; height: 50%;" class="img-responsive" alt="Petrichor Organic Wild Honey" src="/images/petrichor/shopify_petrichor_spices.jpg">
                                </img>
                                </br>
                                <p>Keeping myself motivated and optimistic through the tough times has been one of my biggest challenges!&nbsp;</p>
                                <p>Having the right people on board for the right job has had a great impact on growth for us. We&rsquo;ve been strict about hiring the right people for the company, no matter how big or small the role, right from the start. And that has helped us tremendously!</p>


                                <!-- End Interview -->
                                <div id="store-meta-responsive">
                                    <h3><%= title %>  <a href="<%= link %>"><i class="fa fa-external-link"></i></a> </h3>
                                    <% include ../snippets/store_meta.ejs %>
                                </div>
                                <% include ../snippets/share_buttons.ejs %>
                                    <% include ../snippets/mailchimp_footer.ejs %>
                                        </br>

                              </div>
                              </div>
                              <% include ../snippets/disqus.ejs %>

                              </div>


                              </div>
                              </div>
                              </div>

                              <footer>
                              <script>
                              // Get Alex info
                              $.ajax({
                              url : "/alexa-ranking",
                              type: 'POST',
                              data : {"link" : '<%= link %>'},
                              success : function(data) {

                              xmlDoc = $.parseXML( data.body );
                              parser = new DOMParser();
                              xmlDoc = parser.parseFromString(data.body, 'text/xml');
                              var alexa_rank = (xmlDoc.getElementsByTagName("SD")[0].childNodes[0].getAttribute("TEXT"));
                              $(".alexa_rank").text(alexa_rank);

                              },
                              error : function(data) {
                              $("#alexa_rank").text("N.A");
                              }
                              });
                              </script>
                              <% include ../snippets/footer.ejs %>
                              </footer>

                              </div>
                              <% include ../snippets/page_scripts.ejs %>
                              </body>

</html>
