<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <% include ../snippets/header.ejs %>
</head>

<body>
    <nav id="fh5co-main-nav" role="navigation">
        <% include ../snippets/mobile_nav.ejs %>
    </nav>
    <div id="fh5co-page">
        <header>
            <% include ../snippets/nav.ejs %>
        </header>

        <div id="fh5co-services-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section">
                        <h2><%= title %></h1>
                        <h3>
                          With the encouragement and support of his wife Jill, <a href="<%= link %>"><%= title %></a> founder Ryan Popoff was able to turn his leathermaking hobby into
                          a profitable business. He talks about making that transition and the challenges he faces.
                         </h3>
                        <!-- Share Buttons -->
                        <% include ../snippets/share_buttons.ejs %>
                    </div>
                </div>
                <div class="row fh5co-services-single">

                    <div class="col-md-12 animate-box">
                        <div class="fh5co-services">
                            <div class="holder-section">
                                <!-- Meta Information -->
                                <div class="col-md-4 animate-box store-meta pull-right">
                                    <div id="store-meta-full">
                                        <h3><%= title %>  <a href="<%= link %>"><i class="fa fa-external-link"></i></a> </h3>
                                        <% include ../snippets/store_meta.ejs %>
                                    </div>
                                </div>
                                <!-- End Meta Information -->

                                <!-- Start Interview -->
                                <h2>Tell us about yourself and Popov Leather.</h2>
                                <p>My partner Jill and I run Popov Leather from our home workshop in Nelson, BC, Canada. We started with just ourselves working between day jobs during the night and weekends. Since 2013 we&rsquo;ve quit our day jobs and have grown to 6 full time employees.</p>

                                <p>Popov Leather makes handmade leather goods from full grain USA leather. Our designs are without logos or branding as we firmly believe in letting the work speak for itself. Almost all our business is through word-of-mouth advertising.</p>
                                <div class="videowrapper" style="text-align: center;">
                                  <iframe style="width: 75%; heightL 50%;"src="https://www.youtube.com/embed/kmrA_gdvcGI" frameborder="0" allowfullscreen></iframe>                                </div>
                                <br />
                                <h2>How did Popov Leather grow from a hobby to a full-time business?</h2>
                                <p>I wanted to make a minimalist wallet for my pocket. I couldn&rsquo;t find what I wanted in stores so I taught myself how to make my own. Tools and material is quite expensive in leatherworking, so I opened an Etsy store in an effort to break even. I would sell my design and pay for new tools and rolls of leather.</p>
                                <p>Eventually this snowballed into what we are today.</p>
                                <img class="img-responsive" style="margin-right: auto; margin-left: auto;" alt="Popov Leather Leather Products" src="/images/popov/popov-leather-built-with-shopify-products.png">
                                <img />
                                <p>I attribute a lot of our success to the following: </p>
                                <ul>
                                    <li>Great customer service: answering emails as soon as they come in, lifetime guarantee, offering full refunds and free returns are a few examples. </li>
                                    <li>Direct to consumer pricing: we skip wholesaling because this artificially inflates prices. In turn we can offer a quality product for much less than our competitors.</li>
                                    <li>Building a product I would want: I used to ask people what they thought of our designs and they would have all sorts of ideas. I stopped doing that and just focused on what I would want in a wallet. Turns out, there are a lot of other folks who agree with me.</li>
                                    <li>Not compromising on quality: we use high-quality, full grain leather, we stitch everything by hand, we burnish and polish all the edges. Small details like this add up to a truly excellent product. It may cost more, but the end result is worth it.</li>
                                </ul>
                                <div class=" col-md-3 animate-box tip-box-right pull-right">
                                    <span style="color: #7ab55c;" class="fa fa-quote-left" aria-hidden="true"></span><span style="font-weight: 300; font-size: 18px;"> Quote </span><span style="color: #7ab55c;" class="fa fa-quote-right" aria-hidden="true"></span></br>
                                    <span>Good photography is paramount in addition to having a good design.</span>
                                </div>
                                <h2>Did you build your Shopify store yourself or hire a designer? How long did it take until you were ready to launch?</h2>
                                <p>I have a lot of experience with HTML, basically grew up with web design. We were on Etsy for a year before launching a Shopify store. When we did make the jump, I purchased the Retina theme and customized it to my liking.</p>
                                <p>I taught myself how to use a camera and did all the photography myself. Good photography is paramount in addition to having a good design.</p>
                                <h2>What theme are you using? Have you done any theme customizations?</h2>
                                <p>We are currently using the Portland theme by Out of the Sandbox. I hired a designer to add customization options and optimize speed for SEO.</p>
                                <h2>What Shopify apps do you use? Which apps are most important to your business?</h2>
                                <p>We use a few, but I will mention my most important ones:</p>
                                <ul>
                                    <li><a title="gleam shopify app" href="http://1.shopifytrack.com/SHcp">Gleam.io</a>&nbsp;- I use this to run contests. But it also works as a great tool for showing off images in Instagram tagged with our <a href="https://preprod.instagram.com/explore/tags/popovleather/?max_id=J0HWNByWQAAAF0HWFFWJwAAAFnIA">#popovleather</a> hashtag. I also use Gleam for a pop-up that directs all our Canadian customers to our Canada website.</li>
                                    <li><a href="http://1.shopifytrack.com/SHZz">Wheelio</a>&nbsp;- I use this pop-up for our exit-intents. It gamifies a discount code and collects customer emails in return. This has given us a noticeable conversion bump.</li>
                                    <li><a href="http://1.shopifytrack.com/SHTN">Conversio</a>&nbsp;- Absolutely essential for any store owner. This handles all our receipt emails and does an amazing job cross-selling and up-selling in those emails. Has paid for itself a hundred times over. I also use this for handling our abandon carts and customer milestone emails.</li>
                                    <li><a href="http://1.shopifytrack.com/SHTN">Shoelace</a>&nbsp;- Handles all our Facebook retargetting. The best option I&rsquo;ve used for auto-pilot retargetting. They have great customer too.</li>
                                    <li><a href="http://1.shopifytrack.com/SHU3">Judge.me</a>&nbsp;- I originally used Yotpo, but migrated to Judge.me as it was cheaper and had more robust features. Reviews and social proof are essential to any ecommerce site and this is one of the best options out there.</li>
                                </ul>
                                <h2>What has been the biggest challenge / most frustrating problem you face?</h2>
                                <p>The biggest challenge at the moment is having Shopify handle currencies. A single Shopify store can only handle one currency. So if a customer comes to our website they will be charged in USD regardless of what country they are shopping from.</p>
                                <p>So we address this by having two shopify stores: one for our USA customers and one for our Canadian customers.</p>
                                <p>I experimented with those currency changing apps, but all they do is mask the price with local currency. When customers get their credit card statements they send us angry emails asking why we charged a different price.</p>
                                <p>The worst part of having two shopify storefronts is having to manage multiple inventories and product listings, updating theme design, etc. Very frustrating and I wish it could be all under one storefront.</p>
                                <h2>Any other advice for Shopify store owners?</h2>
                                <p>The best advice I can give anyone is to find something you&rsquo;re passionate about (yes it&rsquo;s cliche, but true). Not something you can make money from. One follows the other and you&rsquo;ll love doing every minute of it.</p>
                                <!-- End Interview -->
                                <div id="store-meta-responsive">
                                    <h3><%= title %>  <a href="<%= link %>"><i class="fa fa-external-link"></i></a> </h3>
                                    <% include ../snippets/store_meta.ejs %>
                                </div>
                                <% include ../snippets/share_buttons.ejs %>
                                    <% include ../snippets/mailchimp_footer.ejs %>
                                        </br>

                            </div>
                        </div>
                        <% include ../snippets/disqus.ejs %>

                    </div>


                </div>
            </div>
        </div>

        <footer>
            <script>
                // Get Alex info
                $.ajax({
                    url: "/alexa-ranking",
                    type: 'POST',
                    data: {
                        "link": '<%= link %>'
                    },
                    success: function(data) {

                        xmlDoc = $.parseXML(data.body);
                        parser = new DOMParser();
                        xmlDoc = parser.parseFromString(data.body, 'text/xml');
                        var alexa_rank = (xmlDoc.getElementsByTagName("SD")[0].childNodes[0].getAttribute("TEXT"));
                        $(".alexa_rank").text(alexa_rank);

                    },
                    error: function(data) {
                        $("#alexa_rank").text("N.A");
                    }
                });
            </script>
            <% include ../snippets/footer.ejs %>
        </footer>

    </div>
    <% include ../snippets/page_scripts.ejs %>
</body>

</html>
