<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <% include ../snippets/header.ejs %>
</head>

<body>
    <nav id="fh5co-main-nav" role="navigation">
        <% include ../snippets/mobile_nav.ejs %>
    </nav>
    <div id="fh5co-page">
        <header>
            <% include ../snippets/nav.ejs %>
        </header>

        <div id="fh5co-services-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section">
                        <h1><%= title %>.</h1>
                        <h3>
                          <a href="<%= link %>"><%= title %></a> discuss how they expanded their original product to solve problems across industries, their approach to B2B sales and the impact of content.
                         </h3>
                        <!-- Share Buttons -->
                        <% include ../snippets/share_buttons.ejs %>
                    </div>
                </div>
                <div class="row fh5co-services-single">

                    <div class="col-md-12 animate-box">
                        <div class="fh5co-services">
                            <div class="holder-section">
                                <!-- Meta Information -->
                                <div class="col-md-4 animate-box store-meta pull-right">
                                    <div id="store-meta-full">
                                        <h3><%= title %>  <a href="<%= link %>"><i class="fa fa-external-link"></i></a> </h3>
                                        <% include ../snippets/store_meta.ejs %>
                                    </div>
                                </div>
                                <!-- End Meta Information -->

                                <!-- Start Interview -->
                                <h2>Could you tell us about your background and Powerblanket?</h2>
                                <p>The inventor of Powerblanket is in the flatwork concrete industry in Salt Lake City, Utah and anyone in this industry knows when the temperature drops below 40 &deg;F, it negatively affects the way concrete cures.</p>
                                <p>He invented the first electrically heated blanket in 2005 to lay on the top of concrete in sub 40&deg;F temps which helped concrete cure faster and stronger. This initial Powerblanket prototype allowed the original inventor to continue pouring concrete throughout the cold Utah winter season making it possible to continue working and increased profitability.</p>
                                <p>We realized if we could heat concrete successfully with an industrial heated blanket we could probably heat other applications as well. From there, our engineering team started designing products for heating pails, drums, gas cylinders, frozen ground, pipes and everything in-between.</p>
                                <div class=" col-md-3 animate-box tip-box-left">
                                    <h4 class="tip-header">Store Fact! <span class="tip-bulb fa fa-lightbulb-o" aria-hidden="true"></span></h4>
                                    <span>You can read more about the applications of Powerblanket <a href="http://www.powerblanket.com/applications/">here</a></span>
                                </div>
                                <p> Powerblanket delivers a barrier of uniform directional heat where it&rsquo;s needed most &ndash; preventing fluids from freezing, protecting critical materials, and maintaining optimal temperatures. Our innovative&nbsp;heat spreading technology insulates, protects and maintains heat in a wide variety of applications.</p>
                                <figure>
                                    <img class="img-responsive" style="width: 80%;" alt="Power Blanket Products" src="/images/powerblanket/Product-lines.png">
                                    <figcaption class="figure-caption text-center">Source: <a href="http://www.powerblanket.com/">Powerblanket</a></figcaption>
                                    </img>
                                </figure>
                              </br>
                                <h2>What do you have to consider when selling B2B online?</h2>
                                <p>Almost every heating or cooling solution we manufacture is available to sell online across many different direct and indirect channels.</p>
                                <p>How does the buying process differ? Most consumers recognize and trust the Powerblanket brand as a leader in our industrial heating industry. Due to consumer trust of our Powerblanket brand, consumers feel comfortable purchasing their Powerblanket online and even spending thousands of dollars for some of our heaters. With higher priced items, some consumers feel more comfortable calling either us directly or one of our loyal distribution partners to get answers to technical questions and or receive a formal proposal or quote. </p>
                                <p>Are customers more likely to purchase after receiving a quote? It depends on the customer. It goes back to what I mentioned above how many consumers trust our brand and feel completely comfortable checking out online, while others prefer to call and receive a formal quote. Either way, we are prepared to service the customer and make sure their buying experience is enjoyable and frictionless.</p>
                                <h2>How has content helped grow your business?</h2>
                                <p>We have produced hundreds of solid blog posts over the years and this relevant content helps position us as thought leaders in our industry. Our blogs include good topic discussions around various different challenges our customers face every day and what Powerblanket solution can help solve their various types of freezing, heating, cooling and viscosity challenges.</p>
                                <h2>Has your blog had an impact on inbound sales?</h2>
                                <p>Yes, absolutely, which is exactly the outcome we expected from our heavy investment in our blog posts. Our blogs have driven tens of thousands of new inbound leads over the years. We keep getting incremental traffic from blogs produced many years ago.</p>
                                <h2>What is your approach to choosing content and are you actively posting on any other websites/social media? </h2>
                                <p>We have an in-house content team where all blog content ideas come from our brilliant marketing team lead by Nate Evans, our Marketing Director. We have many loyal distribution partners who include online marketplaces like <a href="https://www.amazon.com/s/ref=nb_sb_noss_1?url=search-alias%3Daps&amp;field-keywords=powerblanket">Amazon</a>, <a href="http://stores.ebay.com/powerblanket">eBay</a>, <a href="https://jet.com/search?term=powerblanket">Jet</a>, <a href="https://www.walmart.com/search/?query=powerblanket">Walmart</a>, <a href="https://www.newegg.com/Product/ProductList.aspx?Submit=ENE&amp;DEPA=0&amp;Order=BESTMATCH&amp;Description=powerblanket&amp;N=-1&amp;isNodeId=1">Newegg</a> and also have a solid network of industrial distribution partners like <a href="http://www.globalindustrial.com/powerblanket">Global Industrial</a>, <a href="http://www.northerntool.com/shop/tools/NTESearch?storeId=6970&amp;ipp=48&amp;Ntt=powerblanket">Northern Tool</a>, <a href="http://www.thecarycompany.com/catalogsearch/result/?q=powerblanket">The Cary Company</a>, <a href="https://www.uline.com/Product/Detail/H-5686/Drum-Handling/Drum-Blanket-Heater">ULINE</a>, <a href="https://www.colonyhardware.com/search.cfm">Colony Hardware</a>, <a href="https://www.mscdirect.com/browse/tn/Heat-Blankets?searchterm=powerblanket&amp;navid=12104886+4287504798">MSC Industrial</a> and dozens of others that provide a tremendous reach and value for our mutual customers. We also promote our content on <a href="https://www.linkedin.com/company-beta/2999137/">Linkedin</a>, <a href="https://www.facebook.com/Powerblanket/">Facebook</a>, <a href="https://www.youtube.com/channel/UCLKPA_GEkFPS-kTQQGzl5Nw">Youtube</a> and other social media sites.</p>
                                <h2>Which Shopify apps do you use? Which are the most important to your business? </h2>
                                <p>We use a few apps, the most valuable apps to Powerblanket are:</p>
                                <ul>
                                <li><a title="conversio shopify app" href="http://1.shopifytrack.com/SHTN">Conversio</a>&nbsp;(previously Receiptful)</li>
                                <li><a title="shopify product reviews" href="http://1.shopifytrack.com/SHWx">Product Reviews</a></li>
                                <li><a title="Shopify alt text app" href="http://1.shopifytrack.com/SHWt">Alt Text</a></li>
                                <li><a title="product upsell shopify app" href="http://1.shopifytrack.com/SHfH">Product Upsell</a></li>
                                <li>Live Chat</li>
                                <li><a href="https://apps.shopify.com/google-shopping">Google Shopping</a></li>
                                <li><a href="http://1.shopifytrack.com/SHfJ">Retail Tower Pro Shopping Feeds</a></li>
                                <li>Add this Sharing Tool</li>
                                <li><a href="http://1.shopifytrack.com/SHTj">Free Shipping Bar by Hextom</a></li>
                                <li><a href="http://1.shopifytrack.com/SHfN">Grow</a></li>
                                <li><a title="mcaffee secure shopify app" href="http://1.shopifytrack.com/SHfR">Mcafee SECURE</a></li>
                                <li><a title="Reload SEO" href="http://1.shopifytrack.com/SHfV">Reload SEO</a></li>
                                <li><a title="fomo shopify app" href="http://1.shopifytrack.com/SHTd">Fomo</a></li>
                                </ul>
                                <h2>What is your average monthly revenue or number of orders?</h2>
                                <p>The average monthly revenue generated from our store over 12 months is ~ $30k/mo.</p>
                                <h2>What are you working towards now? </h2>
                                <p>We have a team of world class engineers that are innovating new products every month that we&rsquo;ll take to market at different times throughout the year depending on the product type and season. We just released our new line of <a href="http://www.powerblanket.com/snow-melting-mats/">Summerstep Commercial Snow-Melting Mats </a>that help our customers melt snow safely and efficiently from driveways, walkways, stairs and doorways.</p>
                                <p>We plan on releasing our Summerstep Residential Snow-Melting Mats in the next 3-4 months. They&rsquo;ll feature a slightly different design and material and will be very affordable for the residential sector of the market.</p>
                                <p>We are always entertaining new distribution partnerships and currently in the process of expanding globally with our loyal partner Amazon. We&rsquo;re working with their Business Industrial &amp; Scientific Supply Team to expand our global reach into Canada, UK, Europe, Mexico, Japan &amp; Singapore. Leveraging the logistical power of Amazon has helped us expand our global footprint and minimized our barrier to entry into many other countries.</p>
                                <p>There are consumers all over the world that experience the same kind of freezing, heating, cooling and viscosity challenges that we do here in the US. Thanks to the help of Amazon and other valuable distribution partners like ULINE, Global Industrial, Northern Tool, AGI, Walmart, eBay, Heat Authority, Gordo Sales and many others, we will be able to solve more consumers heating challenges worldwide with a safe and efficient Powerblanket industrial heater.</p>
                                <h2>Where can we learn more?</h2>
                                <p>You can visit our main branded <a href="http://www.powerblanket.com/">Powerblanket website</a>, <a href="https://shop.powerblanket.com/">Powerblanket Shopify Store</a>, <a href="https://cld.bz/FWeBfyu">Distributor Guide</a>, or <a href="https://cld.bz/bookdata/GPu4u6r/basic-html/page-1.html">click this link to access our current digital product catalog</a>.</p>
                        <!-- End Interview -->
                        <div id="store-meta-responsive">
                            <h3><strong><%= title %>  <a href="<%= link %>"><i class="fa fa-external-link"></i></a> </strong></h3>
                                <% include ../snippets/store_meta.ejs %>
                            </div>
                            <% include ../snippets/share_buttons.ejs %>
                                <% include ../snippets/mailchimp_footer.ejs %>
                                    </br>

                        </div>
                    </div>
                    <% include ../snippets/disqus.ejs %>

                </div>


            </div>
        </div>
    </div>

    <footer>
        <script>
            // Get Alex info
            $.ajax({
                url: "/alexa-ranking",
                type: 'POST',
                data: {
                    "link": '<%= link %>'
                },
                success: function(data) {

                    xmlDoc = $.parseXML(data.body);
                    parser = new DOMParser();
                    xmlDoc = parser.parseFromString(data.body, 'text/xml');
                    var alexa_rank = (xmlDoc.getElementsByTagName("SD")[0].childNodes[0].getAttribute("TEXT"));
                    $(".alexa_rank").text(alexa_rank);

                },
                error: function(data) {
                    $("#alexa_rank").text("N.A");
                }
            });
        </script>
        <% include ../snippets/footer.ejs %>
    </footer>

    </div>
    <% include ../snippets/page_scripts.ejs %>
</body>

</html>
