<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <% include ../snippets/header.ejs %>
</head>

<body>
    <nav id="fh5co-main-nav" role="navigation">
        <% include ../snippets/mobile_nav.ejs %>
    </nav>
    <div id="fh5co-page">
        <header>
            <% include ../snippets/nav.ejs %>
        </header>

        <div id="fh5co-services-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section">
                        <h1><strong><%= title %></h1>
                        <h3>Alon started <a href="<%= link %>">Proper</a> after the success of his first iPad accessory. He has since grown the business into an internationally renowned design studio that provides hardware for companies like Shopify and Apple and sells to consumers in almost every country.</h3>
                        <!-- Share Buttons -->
                        <% include ../snippets/share_buttons.ejs %>
                    </div>
                </div>
                <div class="row fh5co-services-single">

                    <div class="col-md-12 animate-box">
                        <div class="fh5co-services">
                            <div class="holder-section">
    <!-- Meta Information -->
    <div class="col-md-4 animate-box store-meta pull-right">
        <div id="store-meta-full">
            <h3><%= title %>  <i class="fa fa-external-link"></i> </h3>
            <% include ../snippets/store_meta.ejs %>
        </div>
    </div>
    <!-- End Meta Information -->

                                <!-- Start Interview -->
                                <h2>Could you tell us a bit about yourself and Proper? </h2>
                                <p>Prior to developing and launching Proper I spent 8 years living, studying and working in New York City before deciding to return back to Melbourne. I returned and took a full time role at a local tech business until 2010 when the initial iPad was launched by Apple. I happened to be back in NY at the time of the launch and was able to purchase one on the first day of sales. The early days of the iPad were all about using it as a media/entertainment device for movies and music. Those who owned the first gen iPad will recall that it was actually quite a heavy device to hold for long periods of time.</p>

                                <div class=" col-md-3 animate-box tip-box-right pull-right">
                                  <h4 class="tip-header">Store Fact! <span class="tip-bulb fa fa-lightbulb-o" aria-hidden="true"></span></h4>
                                  <span>Alon travelled to China and visited 10 factories before finding the right one to make The Wallee.</span>
                                </div>
                                <p> This is when I had the lightbulb moment and realised there was a way to greatly enhance the experience people were having with their iPads - namely, by creating a wall mount accessory. The product I ended up launching was at that time called &lsquo;The Wallee&rsquo;, and it consisted of a protective iPad case that attached to a small puck that you mount on your wall.
                                </p>
                                <h2>What&rsquo;s the story behind Proper?</h2>
                                <p>The launch of our V1 product (as above) led to a large amount of interest and pre orders of our mountable iPad case accessory. It took us a while to deliver all of the pre orders, and once people started using the product they began asking for additional mounting options to use their case with. This lead to the second crucial lightbulb moment, which was that we didn&rsquo;t create a wall mount solution specifically, rather we had created a modular mounting system that could be adapted to many different use cases and contexts.</p>
                                <p>
                                  <figure>
                                    <img class="img-responsive" style="width: 80%;" alt="studio proper" src="/images/proper/studio_proper_collage.jpg">
                                      <figcaption class="figure-caption text-center">Source: <a href="https://www.studioproper.com/">Studio Proper</a></figcaption>
                                    </img>
                                  </figure>
                                </p>
                                <div class=" col-md-3 animate-box tip-box-left">
                                  <h4 class="tip-header">Store Fact! <span class="tip-bulb fa fa-lightbulb-o" aria-hidden="true"></span></h4>
                                  <span>The Wallee was featured on TechCrunch which helped drive initial and preorders.</span>
                                </div>
                                <p>Fast forward to today, Proper is a design lead business that creates innovative solutions for both personal use and for businesses looking to harness and integrate the power of iPhone/iPad in their daily lives. We have customers in virtually every country and are the most popular solution for businesses using iPad to drive their retail / enterprise transaction solutions.</p>
                                <p>Through it all we&rsquo;ve stuck to some very clear core values, primarily to ensure we use premium materials in everything we do, and to ensure every product we make provides opportunities for our customers to use their favourite technology in new and exciting ways.</p>

                                <h2>Why do you think companies like Shopify and Apple choose Proper products?</h2>
                                <p>They share our core values and never waver from a dedication to innovation, excellence and the highest levels of customer satisfaction.</p>
                                <p>
                                <figure>
                                  <img class="img-responsive" style="width: 75%;" alt="studio proper" src="/images/proper/studio_proper_website.png">
                                    <figcaption class="figure-caption text-center">Source: <a href="https://www.studioproper.com/">Studio Proper</a></figcaption>
                                  </img>
                                </figure>
                                </p>
                                <h2>What has been your biggest challenge?</h2>
                                <p>The key challenge with any hardware business is scaling both manufacturing and product delivery globally without letting anything slip. We do this by taking small iterative steps every single day, finding efficiencies and improvements in every process. We&rsquo;ve made many mistakes, but our ability to react to those mistakes and learn from them has been our focus.</p>
                                <p>We work closely with a great Melbourne based shopify development team - Elkfox, who help us implement our vision every day.</p>
                                <h2>What are you working towards now?</h2>
                                <p>We are currently building some very meaningful global strategic partnerships that will enable us to access audiences of increased scale as value add partners to some of the most respected solutions providers globally. We are also completely refreshing our consumer product range to bring to market next generation Proper innovations.</p>


                                <!-- End Interview -->
                                <div id="store-meta-responsive">
                                    <h3><%= title %>  <i class="fa fa-external-link"></i> </h3>
                                    <% include ../snippets/store_meta.ejs %>
                                </div>
                                <% include ../snippets/share_buttons.ejs %>
                                    <% include ../snippets/mailchimp_footer.ejs %>
                                        </br>

                            </div>
                        </div>
                        <% include ../snippets/disqus.ejs %>

                    </div>


                </div>
            </div>
        </div>

        <footer>
          <script>
        	  // Get Alex info
        	  $.ajax({
        	    url : "/alexa-ranking",
        	    type: 'POST',
        	    data : {"link" : '<%= link %>'},
        	    success : function(data) {

        	      xmlDoc = $.parseXML( data.body );
        	      parser = new DOMParser();
        	      xmlDoc = parser.parseFromString(data.body, 'text/xml');
        	      var alexa_rank = (xmlDoc.getElementsByTagName("SD")[0].childNodes[0].getAttribute("TEXT"));
        	      $(".alexa_rank").text(alexa_rank);

        	    },
        	    error : function(data) {
        	      $("#alexa_rank").text("N.A");
        	    }
        	  });
        	</script>
            <% include ../snippets/footer.ejs %>
        </footer>

    </div>
    <% include ../snippets/page_scripts.ejs %>
</body>

</html>
