<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <% include ../snippets/header.ejs %>
</head>
<body>
  <% include ../snippets/nav.ejs %>

        <div id="fh5co-services-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section">
                        <h1><%= title %></h1>
                        <h3>In their first month <a href="<%= link %>">Socco Designs</a> have grown to over 3,000 Instagram followers! They promote Moroccan craftmanship through rugs and home decor.</h3>
                        <!-- Share Buttons (Thanks to Simple Share.com) -->
                        <div id="share-buttons">
                            <!-- Email -->
                            <a href="mailto:?Subject=Built with Shopify Case Study&amp;Body= Interview from built with Shopify - <%= page_link %> " >
                              <span class="fa fa-envelope" aria-hidden="true"></span>
                            </a>
                            <!-- Facebook -->
                            <a href="http://www.facebook.com/sharer.php?u=<%= page_link %>" target="_blank">
                              <span class="fa fa-facebook" aria-hidden="true"></span>
                            </a>
                            <!-- Google+ -->
                            <a href="https://plus.google.com/share?url=<%= page_link %>" target="_blank">
                              <span class="fa fa-google-plus" aria-hidden="true"></span>
                            </a>
                            <!-- LinkedIn -->
                            <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=<%= page_link %>" target="_blank">
                              <span class="fa fa-linkedin" aria-hidden="true"></span>
                            </a>
                            <!-- Reddit -->
                            <a href="http://reddit.com/submit?url=<%= page_link %>&amp;title=eCommerce Case Study" target="_blank">
                              <span class="fa fa-reddit-alien" aria-hidden="true"></span>
                            </a>
                            <!-- Twitter -->
                            <a href="https://twitter.com/share?url=<%= page_link %>&amp;text="Shopify Case Study"&amp;hashtags=Shopify" target="_blank">
                              <span class="fa fa-twitter" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row fh5co-services-single">

                    <div class="col-md-12 animate-box">
                        <div class="fh5co-services">
                            <div class="holder-section">
                              <h4><strong>Could you tell us a bit about the story behind Socco Designs and what you sell? </strong></h4>
                              <p>I grew up in Morocco and moved to Montreal, Canada for my university studies when I was 17. After graduating I decided to move to Vancouver and I noticed that Morocco and mainly the Moroccan culture was quite unknown in the west side of Canada. That&rsquo;s
                                  when the idea of creating SOCCO Designs emerged. I wanted to promote the diversity of the Moroccan culture through its craftsmanship.</p>
                              <p>So we specialize in importing authentic Moroccan rugs and home decor accessories. All our products are ethically handmade in Morocco. We work closely with creative Moroccan designers and passionate artisans mastering ancestral practices. From Leather
                                  Poufs to Berber Rugs, each piece we offer is timeless and has a unique character.</p>
                                  <img class="img-responsive" alt="Luks Linen Shopify" src="/images/socco/socco_shopify.png">
                                  <figcaption class="figure-caption text-center">Some of the home decor range from <a href="https://www.soccodesigns.com/">Socco Designs</a></figcaption>
                                  <br />
                              <h4><strong>Your use multiple platforms to reach out to potential/existing customers (Facebook, Instagram, Twitter, the blog section, your web page itself, Shopify). How have you found each of these platforms in terms of helping to further expand your business? What worked/didn&rsquo;t work for you?</strong></h4>
                              <p>Since we just opened our online store 15 days ago, most of our sales come from marketplaces (<a href="http://etsy.com/">Etsy</a>, <a href="https://www.amazon.com/">Amazon</a>&nbsp;&amp; <a href="http://www.storenvy.com/">Storenvy</a>). We try to focus
                                  on these platforms because it gives us a quick and important visibility and people are used to by on these platforms. </p>
                              <p>Regarding social media, we get most of our website traffic from <a href="https://www.instagram.com/soccodesigns/?hl=en">Instagram</a>&nbsp;(around 70%) and then the other 30% from Facebook. Our products are colorful and we try to put different images
                                  from our journey in Morocco to make our feed attractive. People discover a new culture by browsing through our instagram. This arouses the curiosity of our followers and push them to visit our website to discover our products and story.</p>
                              <p>We are still working on growing the followers on our Facebook Page. Our strategy is to grow by organizing giveaways. We find it very effective so far because invite people to like our page, tag their friends and share our page.
                                <img class="img-responsive" alt="Luks Linen Shopify" src="/images/socco/socco_facebook.png">
                                <figcaption class="figure-caption text-center">Giveaways have resulted in a huge level of engagement on Facebook for Socco Designs</figcaption><br />

                                  <p>We launched our first giveaway a week ago and we went from 15 likes to 205 likes and approximately 150 page share.</p>
                              <p>The blog section is also important for our SEO long-term strategy. We try to publish a new article every week. The goal is to educate our customers about the products we sell, the people who make them and where they come from. Our mission is to promote
                                  the diversity of the Moroccan culture through their craftsmanship.</p>

                              <p>I have more difficulty developing the twitter account. I don&rsquo;t have a lot of experience using this channel unfortunately.<div class=" col-md-3 animate-box tip-box-right pull-right">
                                <h4 class="tip-header">Tip! <span style="color: #4099ff;"class="tip-bulb fa fa-twitter" aria-hidden="true"></span></h4>
                                <span>Twitter is perfect for boosting your network. You can reach out to customers directly or connect with similar brands to do cross promotions and leverage their network.</span>
                              </div> </p>

                              <h4><strong>Has ecommerce been apart of Socco Designs since you started? When did you get started with Shopify and why did you choose it?</strong></h4>
                              <p>SOCCO Designs is a 100% ecommerce business and I&rsquo;ve been using Shopify since the beginning of this project in December 2016. I had a previous experience with Shopify: I own another company that I launched a year ago called The Cycling Croissant,
                                  which is a French breakfast delivery service ( <a href="http://www.thecyclingcroissant.com">http://www.thecyclingcroissant.com</a> ) . I was used to work on this platform, so it was a natural choice for me. </p>
                              <h4><strong>What are your most successful marketing avenues?</strong></h4>
                              <p>The <a href="https://www.facebook.com/soccodesigns/photos/a.1363670323663302.1073741828.1273669569330045/1385915621438772/?type=3&amp;theater">giveaway we organised</a>&nbsp;is very successful for now, by boosting it on facebook we had more than 200 people
                                  liking our page, commenting and sharing it.&nbsp;</p>

                              <p>Interacting on instagram by commenting and liking post has proven to be very effective as well. We built an account with more than 3000 followers in less than 3 months.</p>
                              <p>Since we just launched our website, our priority is to develop a backlink strategy to rank better on Google and Bing. We hope to start drive a lot of traffic from search engines.</p>
                              <h4><strong>Did you build your Shopify store yourself or hire a designer and how long did it take to launch?</strong></h4>
                              <p>I built the entire store myself and when I encountered some difficulties I could ask <a href="https://www.pixelunion.net/">pixelunion</a>&nbsp;support team for help. They provide a great customer service.</p>
                              <p>I started working on the website in the beginning of December 2016, by then I have just developed the structure of the website. I went to Morocco for a month from the 20th december to the January 10th to meet the suppliers, source the products and import
                                  the selection to Canada. The website opened January 20th. So it took me about 2 months to have everything ready!</p>
                              <h4><strong>What theme are you using? Have you done any theme customizations?</strong></h4>
                              <p>I am using the <a href="https://www.pixelunion.net/themes/atlantic/">Atlantic Theme</a>&nbsp;from Pixelunion. It&rsquo;s a great theme because it comes it 4 different presets, it&rsquo;s highly customizable and it has many great features. I did some customizations
                                  but I wanted to keep a minimalistic interface.</p>
                              <h4><strong>What Shopify apps do you use? Which apps are most important to your business? </strong></h4>
                              <p>In order to build the mailing list I use <a href="http://1.shopifytrack.com/SHUV">Pixel-pop</a>, it integrates beautifully with the theme I use and it&rsquo;s a very intuitive app.</p>
                              <p>One of my most important costs is shipping and I had a really hard time figuring out how to ship my products at lower rates for my first orders. I use two apps that are great for local and international shipments: <a href="http://1.shopifytrack.com/SHV1">Shippo</a>&nbsp;and
                                  <a href="http://1.shopifytrack.com/SHUR">Netparcel</a>.</p>
                              <p>One of the most favorite apps is <a href="http://1.shopifytrack.com/SHUx">SEO Manager</a>. Having traffic from search engines is crucial and this app helps you fix the SEO problems on the website, broken links and even suggests you keywords
                                  for product titles and descriptions.</p>
                              <h4><strong>What would you do differently if you had to start over? Are there any blogs or resources that have been helpful for you?</strong></h4>
                              <p><a href="http://1.shopifytrack.com/SHVZ">Shopify Manual </a>is a great resource when you want to start an ecommerce business otherways the shopify blogs have a great amount of information about all the subjects you would need for your ecommerce or retail store,
                                  from driving traffic techniques to fulfilling and shipping orders.</p>
                                  <!-- Share Buttons (Thanks to Simple Share.com) -->
                                  <div id="share-buttons">
                                      <!-- Email -->
                                      <a href="mailto:?Subject=Built with Shopify Case Study&amp;Body= Interview from built with Shopify - <%= page_link %> " >
                                        <span class="fa fa-envelope" aria-hidden="true"></span>
                                      </a>
                                      <!-- Facebook -->
                                      <a href="http://www.facebook.com/sharer.php?u=<%= page_link %>" target="_blank">
                                        <span class="fa fa-facebook" aria-hidden="true"></span>
                                      </a>
                                      <!-- Google+ -->
                                      <a href="https://plus.google.com/share?url=<%= page_link %>" target="_blank">
                                        <span class="fa fa-google-plus" aria-hidden="true"></span>
                                      </a>
                                      <!-- LinkedIn -->
                                      <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=<%= page_link %>" target="_blank">
                                        <span class="fa fa-linkedin" aria-hidden="true"></span>
                                      </a>
                                      <!-- Reddit -->
                                      <a href="http://reddit.com/submit?url=<%= page_link %>&amp;title=eCommerce Case Study" target="_blank">
                                        <span class="fa fa-reddit-alien" aria-hidden="true"></span>
                                      </a>
                                      <!-- Twitter -->
                                      <a href="https://twitter.com/share?url=<%= page_link %>&amp;text="Shopify Case Study"&amp;hashtags=Shopify" target="_blank">
                                        <span class="fa fa-twitter" aria-hidden="true"></span>
                                      </a>
                                  </div>
                                  <% include ../snippets/mailchimp_footer.ejs %>

                            </div>
                        </div>
                        <% include ../snippets/disqus.ejs %>

                    </div>


                </div>
            </div>
        </div>
        <% include ../snippets/footer.ejs %>
  </body>

</html>
