<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <% include ../snippets/header.ejs %>
</head>

<body>
    <nav id="fh5co-main-nav" role="navigation">
        <% include ../snippets/mobile_nav.ejs %>
    </nav>
    <div id="fh5co-page">
        <header>
            <% include ../snippets/nav.ejs %>
        </header>

        <div id="fh5co-services-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section">
                        <h1><%= title %>.</h1>
                        <h3>
                          Jonas from <a href="<%= link %>"><%= title %></a> talks about creating the official online store for a globally successful illustrated series.
                         </h3>
                        <!-- Share Buttons -->
                        <% include ../snippets/share_buttons.ejs %>
                    </div>
                </div>
                <div class="row fh5co-services-single">

                    <div class="col-md-12 animate-box">
                        <div class="fh5co-services">
                            <div class="holder-section">
                                <!-- Meta Information -->
                                <div class="col-md-4 animate-box store-meta pull-right">
                                    <div id="store-meta-full">
                                        <h3><strong><%= title %>  <a href="<%= link %>"><i class="fa fa-external-link"></i></a> </strong></h3>
                                        <% include ../snippets/store_meta.ejs %>
                                    </div>
                                </div>
                                <!-- End Meta Information -->

                                <!-- Start Interview -->
                                <h3><strong>Could you tell us about your background and The Moomin brand?</strong></h3>
<p>Tove Jansson (1914-2001) was a Finnish-Swedish writer and artist, who achieved worldwide fame as the creator of the stories about The Moomins, written and illustrated between 1945 and 1977. The Moomin family and their friends live an adventurous life in the idyllic and peaceful Moominvalley in harmony with nature. They are a family of white and roundish trolls with large snouts.</p>
<figure>
    <img class="img-responsive" style="width: 80%;" alt="The Moomins" src="/images/moomin/moomin-characters-built-with-shopify.png">
    <figcaption class="figure-caption text-center">Characters from The Moomin adventures. Source: <a href="https://www.moomin.com/en/characters/">Moomin.com</a></figcaption>
    </img>
</figure>
<br />
<p>The Moomin brand has been licensed to various licensees starting in the 1950s and today more than 750 manufacturers, caf&eacute;s, theme parks and publishers work with Moomin Characters Ltd. The annual retail value of Moomin is approximately 700 million euros.</p>
<div class=" col-md-3 animate-box tip-box-left">
    <h4 class="tip-header">Store Facts! <span class="tip-bulb fa fa-lightbulb-o" aria-hidden="true"></span></h4>
    <span>You can read more about the history of The Moomins <a href="https://www.moomin.com/en/history/">here</a>.</span>
</div>
<p>I was hired by Moomin Characters to conceptualize and implement Moomin&rsquo;s online strategy in 2014. I developed both an informative and commercial approach in our strategy and we decided to couple the two strongly together as that is the way Moomin Characters has sold products and marketed the brand since early on.</p>

<h3><strong>Why do you think the Moomin series has been so successful with licensing?</strong></h3>
<p>Moomin Characters has always put the stories first and emphasized the art in the original creator&rsquo;s, Tove Jansson&rsquo;s, work. The Moomins is quite unique in that sense that it appeals to both a younger and a more adult audience and it is quite rare. We also actively curate exhibitions and material with our partners and that helps keep the brand up to date.</p>

<h3><strong>What is your approach to content?</strong></h3>
<p>We employ a long tail strategy by writing about all aspects of the Moomin brand, from events, to products to trivia about the Moomins. Our main goal is to create relevance for the brand in a saturated media market and the way to do that is to segment and create value for the our difference target groups. For some it might be collecting Moomin mugs, for others reading the books or making sure not to miss a pop-up-event and getting a hug from Moomin.</p>
<p>We strive to publish one story per day and we engage actively with the fans on social media and through email communication. We also regularly arrange offline events where people can meet the characters, participate in competitions or get discounts on sought after items.</p>
<h3><strong>Which Shopify apps do you use? Which are the most important to your business? </strong></h3>
<p>
<ul>
<li><a title="Back in Stock" href="http://1.shopifytrack.com/SHdf" target="_blank">Back in stock</a>&nbsp;</strong>- we keep inventory to a minimum but we still want to notify when something is in stock and Back in stock does that perfectly</li>
<li><a title="Conversio shopify app" href="http://1.shopifytrack.com/SHTN" target="_blank">Conversio</a>&nbsp;- we handle most commercial email communication through Conversio and it&rsquo;s allowed us to do much better and more dynamic emails.</li>
<li><a title="Mailchimp shopify app" href="http://1.shopifytrack.com/SHUN" target="_blank">Mailchimp for Shopify</a>&nbsp;- lets us automatically opt-in new subscribers</li>
<li><a title="Mailmunch Shopify App" href="http://1.shopifytrack.com/SHar" target="_blank">Mailmunch</a>&nbsp;- allows visitors to easily opt in to receive news from us</li>
<li><a title="Printmotor shopify app" href="http://1.shopifytrack.com/SHf9" target="_blank">Printmotor</a>&nbsp;- handles our on-demand items, allowing us to combine stored and made-to-order items automatically</li>
<li><a title="Shoelace Shopify APp" href="http://1.shopifytrack.com/SHTN" target="_blank">Shoelace</a>&nbsp;- handles our automatic retargeting on a product level </li>
<li><a title="Aftership shopify app" href="http://1.shopifytrack.com/SHT7" target="_blank">Aftership</a>&nbsp;- for tracking orders, with an embedded tracking widget</li>
</ul>
</p>
<h3><strong>What is your average monthly revenue or number of orders?</strong></h3>
<p>We sell approximately 60.000 &euro; per month but it gradually increases month by month and culminates around Christmas. Our goal is to have 1 million in turnover in 2017.</p>

<figure>
    <img class="img-responsive" style="width: 50%;" alt="Moomin Special Edition Mug" src="/images/moomin/moomin-built-with-shopify-Special-Edition-Moomin-Mug 2017-by-Arabia-The-Official-Moomin-Shop.png">
    </img>
</figure>
<br />
<h3><strong>What are you working towards now?</strong></h3>
<p>We&rsquo;re constantly improving the look and feel of the site and we recently published our fourth iteration since the launch in 2014. Our selection consists of more than 700 products and to manage that we actively monitor which items sell and which do not. Based on the data we decide on what stays and what items we should focus on next.</p>
<p>Moomin.com has sort of worked as a testing ground for how we should represent other brands that currently have neither an online presence nor e-commerce sales, and that is what we are mostly focusing on now - using what we learned in these three years to build online awareness for other brands.</p>
<h3><strong>Where can we learn more?</strong></h3>
<p><a title="Moomin.com" href="http://www.moomin.com" target="_blank">Moomin.com </a>is definitely the number one place to learn about all things Moomin but I recommend visiting the Moomin theme park in Finland or Moomin caf&eacute;s in Japan. Also keep your eyes peeled for the upcoming Moomin TV series in 2019.</p>

                                <!-- End Interview -->
                                <div id="store-meta-responsive">
                                    <h3><strong><strong><%= title %>  <a href="<%= link %>"><i class="fa fa-external-link"></i></a> </strong></strong></h3>
                                    <% include ../snippets/store_meta.ejs %>
                                </div>
                                <% include ../snippets/share_buttons.ejs %>
                                    <% include ../snippets/mailchimp_footer.ejs %>
                                        </br>

                            </div>
                        </div>
                        <% include ../snippets/disqus.ejs %>

                    </div>


                </div>
            </div>
        </div>

        <footer>
            <script>
                // Get Alex info
                $.ajax({
                    url: "/alexa-ranking",
                    type: 'POST',
                    data: {
                        "link": '<%= link %>'
                    },
                    success: function(data) {

                        xmlDoc = $.parseXML(data.body);
                        parser = new DOMParser();
                        xmlDoc = parser.parseFromString(data.body, 'text/xml');
                        var alexa_rank = (xmlDoc.getElementsByTagName("SD")[0].childNodes[0].getAttribute("TEXT"));
                        $(".alexa_rank").text(alexa_rank);

                    },
                    error: function(data) {
                        $("#alexa_rank").text("N.A");
                    }
                });
            </script>
            <% include ../snippets/footer.ejs %>
        </footer>

    </div>
    <% include ../snippets/page_scripts.ejs %>
</body>

</html>
