<!DOCTYPE html>
<!--[ lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <% include ../snippets/header.ejs %>
</head>

<body>
    <nav id="fh5co-main-nav" role="navigation">
        <% include ../snippets/mobile_nav.ejs %>
    </nav>
    <div id="fh5co-page">
        <header>
            <% include ../snippets/nav.ejs %>
        </header>

        <div id="fh5co-services-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section">
                        <h1><strong><%= title %></strong></h1>
                        <h3><a href="<%= link %>">Thrifty Pup</a> was created by Kimberly Krall to turn scrap and salvaged fabric into truely unique products that her customers can't stop talking about.</h3>
                        <!-- Share Buttons -->
                        <% include ../snippets/share_buttons.ejs %>
                    </div>
                </div>
                <div class="row fh5co-services-single">

                    <div class="col-md-12 animate-box">
                        <div class="fh5co-services">
                            <div class="holder-section">
    <!-- Meta Information -->
    <div class="col-md-4 animate-box store-meta pull-right">
        <div id="store-meta-full">
            <h3><%= title %>  <a href="<%= link %>"><i class="fa fa-external-link"></i></a> </h3>
            <% include ../snippets/store_meta.ejs %>
        </div>
    </div>
    <!-- End Meta Information -->
                              <!-- Start Interview -->
                    <h2>Could you tell us a bit about yourself and what Thrifty Pup sells?</h2>

                    <p>Thrifty Pup is an artisan brand of handmade bowties and bows for dogs. &nbsp;What makes our products so special is that most of our accessories are upcycled. &nbsp;Created from fabric swatches, samples and scraps, we transform leftover fabric into trendy
                        accessories all while reducing the amount of discarded fabric that ends up in the landfill. &nbsp;Making the most out of smaller swatches of fabric also results in one-of-a-kind products that are just as unique as the dogs wearing them. </p>
                        <figure>
                          <img class="img-responsive" style="width: 80%;" alt="Thrifty Pup" src="/images/thrifty_pup/thrifty_pup_shopify_multiple_puppies.jpg">
                            <figcaption class="figure-caption text-center">Source: <a href="<%= link %>">Thrifty Pup</a></figcaption>
                          </img>
                        </figure>
                      </br>
                    <p>We built Thrifty Pup from scratch and our vision from the start was to establish ourselves as an independent brand versus an artisan shop on a platform like Etsy. &nbsp;This gives us flexibility as we expand and develop new ideas.</p>
                    <h2>How did you come up with the idea initially? </h2>
                    <p>I have a background in architecture + design and am always making things my with hands, so the idea for this business developed naturally as I pursued something creative and fulfilling. &nbsp;Thrifty Pup is very much inspired by my golden retriever rescue,
                        Kirby; he loves attention and wearing bowties got him exactly that. &nbsp;</p>
                    <h2>How did you create your first product and get your first sales?</h2>
                    <p>I had a stash of fabric samples and leftovers in my studio, and once I developed a prototype that worked, I pulled the first swatches that would become our first collection. &nbsp;We launched this collection and our website simultaneously and marketed
                        through social media using the dogs of our friends and family as models for our products. &nbsp;</p>
                    <h2>What changes over the years have helped grow your business?</h2>
                    <p>Social media plays a large role in our success as a company, especially Instagram where there is a huge community of dog account holders and dog lovers. &nbsp;We have enrolled many IG users as brand ambassadors; they model our products for us and share with their followers which has really helped us extend our network. &nbsp;We often run photo contests, host giveaways, and do &ldquo;Pup of the Month&rdquo; features with our social community as well, which not only builds our customer base, but builds relationships with other vendors in the industry.</p>
                    <figure>
                      <img class="img-responsive" style="width: 80%;" alt="Thrifty Pup" src="/images/thrifty_pup/thrifty_pup_shopify_puppy_madness.jpg">
                        <figcaption class="figure-caption text-center">Puppy Madness 2017!</figcaption>
                      </img>
                    </figure>
                  </br>
                    <p>We just wrapped up our 2nd Puppy Madness Tournament which a really fun event that gives us a boost in exposure - who doesn&rsquo;t want to vote on photos of cute puppies? &nbsp;The Social Corner section of our website is fairly new and is an additional way to market our brand and feature our customers.</p>
                    <h2>Which Shopify apps do you use? Which apps are most important to your business? </h2>
                    <p>We are currently using <a href="http://www.stamps.com/">Stamps.com</a> and <a href="http://1.shopifytrack.com/SHUN">Mailchimp</a>. &nbsp;We also use <a href="http://1.shopifytrack.com/SHTN">Conversio</a> to auto send our customers receipts. &nbsp;Stamps.com
                        is the most important to us as it allows us to track our shipments and makes order fulfillment easy and efficient.</p>
                    <h2>What is your average monthly number of orders?</h2>

                    <p>We get about 25 - 50 orders a month</p>

                    <h2>What are you working towards now? </h2>
                    <p>We have many new product ideas in the works and are currently working on prototypes for bandanas and light-up bowties. &nbsp;2017 will be a pretty busy year for me personally as my husband and I are expecting a baby in May. &nbsp;One of the huge benefits
                        of having this online shop is that it allows me the flexibility of working from home and being able to spend those first months with my newborn but keep our business running.</p>
                    <h2>Are there any blogs or resources that have been helpful for you?</h2>
                    <p>Luckily, my main resource is my husband, <a href="https://twitter.com/bkrall?lang=en">Brian Krall</a>, who is an amazing front-end/UI developer. &nbsp;He has extensive experience with building websites and works with designers to carry out branding and
                        marketing ideas, so he has been so helpful in building our current site. &nbsp;I also am inspired by what&rsquo;s happening in fashion, art and design as well and I try to stay on top of what&rsquo;s trending. &nbsp;This is important to me as a designer
                        because no matter what your occupation or field you are in, that language of design should overlap. &nbsp;So I keep those trends in mind as I design our products and brand.</p>
                    <p>For the story of how we got started, check out this <a href="https://www.thriftypup.com/pages/our-story">comic</a></p>

                    <!-- End Interview -->
                    <div id="store-meta-responsive">
                        <h3><%= title %>  <a href="<%= link %>"><i class="fa fa-external-link"></i></a> </h3>
                        <% include ../snippets/store_meta.ejs %>
                    </div>
                    <% include ../snippets/share_buttons.ejs %>
                        <% include ../snippets/mailchimp_footer.ejs %>
                            </br>

                </div>
            </div>
            <% include ../snippets/disqus.ejs %>

        </div>


    </div>
</div>
</div>

<footer>
<script>
// Get Alex info
$.ajax({
  url : "/alexa-ranking",
  type: 'POST',
  data : {"link" : '<%= link %>'},
  success : function(data) {

    xmlDoc = $.parseXML( data.body );
    parser = new DOMParser();
    xmlDoc = parser.parseFromString(data.body, 'text/xml');
    var alexa_rank = (xmlDoc.getElementsByTagName("SD")[0].childNodes[0].getAttribute("TEXT"));
    $(".alexa_rank").text(alexa_rank);

  },
  error : function(data) {
    $("#alexa_rank").text("N.A");
  }
});
</script>
<% include ../snippets/footer.ejs %>
</footer>

</div>
<% include ../snippets/page_scripts.ejs %>
</body>

</html>
