<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <% include ../snippets/header.ejs %>
</head>

<body>
    <nav id="fh5co-main-nav" role="navigation">
        <% include ../snippets/mobile_nav.ejs %>
    </nav>
    <div id="fh5co-page">
        <header>
            <% include ../snippets/nav.ejs %>
        </header>
        <div id="fh5co-services-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section">
                      <h1><strong><%= title %></h1>
                        <h3>Mei from <a href="<%= link %>">Tiny Hands</a> talks about growing her handmade jewellery business from a blog to 40K a month in holiday sales.</h3>
                        <!-- Share Buttons (Thanks to Simple Share.com) -->
                        <div id="share-buttons">
                            <!-- Email -->
                            <a href="mailto:?Subject=Built with Shopify Case Study&amp;Body= Interview from built with Shopify - <%= page_link %> ">
                                <span class="fa fa-envelope" aria-hidden="true"></span>
                            </a>
                            <!-- Facebook -->
                            <a href="http://www.facebook.com/sharer.php?u=<%= page_link %>" target="_blank">
                                <span class="fa fa-facebook" aria-hidden="true"></span>
                            </a>
                            <!-- Google+ -->
                            <a href="https://plus.google.com/share?url=<%= page_link %>" target="_blank">
                                <span class="fa fa-google-plus" aria-hidden="true"></span>
                            </a>
                            <!-- LinkedIn -->
                            <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=<%= page_link %>" target="_blank">
                                <span class="fa fa-linkedin" aria-hidden="true"></span>
                            </a>
                            <!-- Reddit -->
                            <a href="http://reddit.com/submit?url=<%= page_link %>&amp;title=eCommerce Case Study" target="_blank">
                                <span class="fa fa-reddit-alien" aria-hidden="true"></span>
                            </a>
                            <!-- Twitter -->
                            <a href="https://twitter.com/share?url=<%= page_link %>&amp;text=" Shopify Case Study "&amp;hashtags=Shopify" target="_blank">
                                <span class="fa fa-twitter" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row fh5co-services-single">

                    <div class="col-md-12 animate-box">
                        <div class="fh5co-services">
                            <div class="holder-section">
    <!-- Meta Information -->
    <div class="col-md-4 animate-box store-meta pull-right">
        <div id="store-meta-full">
            <h3><%= title %>  <i class="fa fa-external-link"></i> </h3>
            <% include ../snippets/store_meta.ejs %>
        </div>
    </div>
    <!-- End Meta Information -->

                                <!-- Start Interview -->
                                <h4><strong>Could you tell us a bit about the story behind Tiny Hands? How you decided to sell Food Jewellery and first got started?</strong></h4>
                                <p>When I started Tiny Hands, I had no idea what I was doing! I was just someone who loved making things and I made all sorts of different items for sale. At the time, I was really inspired by two other scented jewelry artists.
                                    I followed them for a long time, but never pursued making my own scented jewelry until both of those artists closed their shops. It was strange - they both shut down at about the same time and I saw this as an opportunity
                                    and a gap in the market that I was passionate about. I really loved the idea of miniature food jewelry that smelled like what they look like. I was that little girl that loved miniature dollhouse items and my favorite
                                    game was playing pretend cooking with my fake food kitchen set.</p>
                                <figure>
                                    <img style="margin-right: auto; margin-left: auto;" class="img-responsive" alt="Tiny Hands Shopify products" src="/images/tiny_hands/tiny_hands_product.png">
                                    <figcaption class="figure-caption text-center">Tiny Hands sells scented, miniature food necklaces</figcaption>
                                </figure>
                                <br />
                                <h4><strong>Did you start as an ecommerce business? How did you get your first sale?</strong></h4>
                                <p>I started <a href="https://tinyhandsonline.com/">Tiny Hands</a>&nbsp;as a blog where each blog post was a &ldquo;listing&rdquo; and customers would leave a comment or email me if they were interested in buying something.
                                    I would send them a Paypal money request and ship them the product. When I started out, I also spent a lot of time networking in message boards. I would share pictures of my work because I was proud of what I made,
                                    but a few of my newfound friends wanted to buy what I made. That&rsquo;s where I made my first sale.</p>
                                <h4><strong>How did you get featured on shows like Parks and Recreation and did it have an impact on your business?</strong></h4>
                                <p>I was featured on a fashion blog that the wardrobe stylist of Parks and Recs reads. She reached out to me via email and asked for me to overnight a few items from my shop. When I got that email, I dropped everything I was
                                    working on that day to get those items out to her. Many months later, my necklace was worn by Amy Poehler in an episode. I was actually given the wrong air date for the episode and didn&rsquo;t expect it. A fan on Tumblr
                                    posted screenshots of my necklace and found my website. It went viral and continues to bring me tons of sales to this day.</p>
                                <figure>
                                    <img style="margin-right: auto; margin-left: auto;" class="img-responsive" alt="Tiny Hands Shopify press" src="/images/tiny_hands/tiny_hands_press.png">
                                    <figcaption class="figure-caption text-center">Some of the places you might have seen Tiny Hands</figcaption>
                                </figure>
                                <br />
                                <h4><strong>Why did you decide to launch the necklace of the month club?</strong></h4>
                                <p>I wanted a way to build a consistent, stable income. Being your own business owner means not really knowing with 100% certainty when your next sale is coming in. That can be stressful! Starting a subscription product was
                                    the perfect way to solve this problem.</p>
                                <h4><strong>Did you build your Shopify store yourself or hire a designer and how long did it take to launch?</strong></h4>
                                <p>I built it myself for the most part. I was actually using Prestashop for many years and only recently moved over to Shopify. I used <a href="https://www.shopping-cart-migration.com/">Cart2Cart</a>&nbsp;to migrate the data
                                    from Prestashop to Shopify and it was a seamless process. The migration and rebuild of my store on Shopify took a few days tops.</p>
                                <h4><strong>What theme are you using? Have you done any theme customizations?</strong></h4>
                                <p>I use the <a href="https://themeforest.net/item/avenue-responsive-shopify-theme/8537699">Avenue</a>&nbsp;theme from HaloThemes. Yes, my theme has customizations.</p>
                                <h4><strong>What Shopify apps do you use? Which apps are most important to your business? </strong></h4>
                                <p>My favorite apps are:</p>
                                <ul>
                                    <li><a href="http://1.shopifytrack.com/SHUl">Recharge</a></li>
                                    <li><a href="http://1.shopifytrack.com/SHYz">Order Printer</a></li>
                                    <li><a href="https://apps.shopify.com/linkerfriend-lead-management-tools">Abandonment Protector</a></li>
                                    <li><a href="http://promo.boldcommerce.com/install/?ref=builtwithshopify">Product Discount</a></li>
                                    <li><a href="http://1.shopifytrack.com/SHWx">Product Reviews</a></li>
                                    <li><a href="https://apps.shopify.com/product-reviews-addon">Product Reviews Addon</a></li>
                                    <li><a href="https://apps.shopify.com/retargetapp-facebook-retargeting">RetargetApp</a></li>
                                    <li><a href="http://1.shopifytrack.com/SHT1">ShipStation</a></li>
                                    <li><a title="Bizzy.io" href="http://bizzy.io/">Bizzy.io</a></li>
                                    <li><a href="https://apps.shopify.com/stitch-labs">StitchLabs</a>&nbsp;and</li>
                                    <li><a href="http://1.shopifytrack.com/SHX1">Yo</a>.</li>
                                </ul>
                                <h4><strong>Are there any metrics you can share in terms of order volume or monthly sales?</strong></h4>
                                <p>We make $15,000 in sales monthly when it&rsquo;s off season and $20-40k per month if it&rsquo;s a holiday month.</p>
                                <h4><strong>What would you do differently if you had to start over? Are there any blogs or resources that have been helpful for you?</strong></h4>
                                <p>I was using self-hosted ecommerce software because I thought I was saving money, but it&rsquo;s so painful when you have to handle your own security, payments, database backups, website speed and optimization and so on.
                                    I regret not moving over to Shopify sooner. I&rsquo;ve had to learn a lot of what I know today from trial and error. There&rsquo;s not a lot of resources out there that serve handmade business owners specifically and
                                    since we deal with very specific challenges, this was important to me. <a title="shopify blog" href="http://1.shopifytrack.com/SHVB">The Shopify blog</a>&nbsp;and <a href="http://1.shopifytrack.com/SHVd">podcast</a>&nbsp;has
                                    been super helpful. I share a lot of what I&rsquo;ve learned at&nbsp;<a title="The Creative Hive Co" href="creativehiveco.com">Creative Hive Co</a>.</p>
                                    <!-- End Interview -->
                                    <div id="store-meta-responsive">
                                        <h3><%= title %>  <i class="fa fa-external-link"></i> </h3>
                                        <% include ../snippets/store_meta.ejs %>
                                    </div>
                                    <% include ../snippets/share_buttons.ejs %>
                                        <% include ../snippets/mailchimp_footer.ejs %>
                                            </br>

                                  </div>
                                  </div>
                                  <% include ../snippets/disqus.ejs %>

                                  </div>


                                  </div>
                                  </div>
                                  </div>

                                  <footer>
                                  <script>
                                  // Get Alex info
                                  $.ajax({
                                  url : "/alexa-ranking",
                                  type: 'POST',
                                  data : {"link" : '<%= link %>'},
                                  success : function(data) {

                                  xmlDoc = $.parseXML( data.body );
                                  parser = new DOMParser();
                                  xmlDoc = parser.parseFromString(data.body, 'text/xml');
                                  var alexa_rank = (xmlDoc.getElementsByTagName("SD")[0].childNodes[0].getAttribute("TEXT"));
                                  $(".alexa_rank").text(alexa_rank);

                                  },
                                  error : function(data) {
                                  $("#alexa_rank").text("N.A");
                                  }
                                  });
                                  </script>
                                  <% include ../snippets/footer.ejs %>
                                  </footer>

                                  </div>
                                  <% include ../snippets/page_scripts.ejs %>
                                  </body>

</html>
