<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <% include ../snippets/header.ejs %>
</head>
<body>
  <% include ../snippets/nav.ejs %>

        <div id="fh5co-services-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section">
                        <h2><%= title %></h2>
                        <h3>The Military veterans at <a href="https://www.titansurvival.com/">TITAN Survival</a> couldn't find paracord that met the quality they had come to expect, so they sourced their own and started selling it online.</h3>
                        <!-- Share Buttons (Thanks to Simple Share.com) -->
                        <div id="share-buttons">
                            <!-- Email -->
                            <a href="mailto:?Subject=Built with Shopify Case Study&amp;Body= Interview from built with Shopify - <%= page_link %> " >
                              <span class="fa fa-envelope" aria-hidden="true"></span>
                            </a>
                            <!-- Facebook -->
                            <a href="http://www.facebook.com/sharer.php?u=<%= page_link %>" target="_blank">
                              <span class="fa fa-facebook" aria-hidden="true"></span>
                            </a>
                            <!-- Google+ -->
                            <a href="https://plus.google.com/share?url=<%= page_link %>" target="_blank">
                              <span class="fa fa-google-plus" aria-hidden="true"></span>
                            </a>
                            <!-- LinkedIn -->
                            <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=<%= page_link %>" target="_blank">
                              <span class="fa fa-linkedin" aria-hidden="true"></span>
                            </a>
                            <!-- Reddit -->
                            <a href="http://reddit.com/submit?url=<%= page_link %>&amp;title=eCommerce Case Study" target="_blank">
                              <span class="fa fa-reddit-alien" aria-hidden="true"></span>
                            </a>
                            <!-- Twitter -->
                            <a href="https://twitter.com/share?url=<%= page_link %>&amp;text="Shopify Case Study"&amp;hashtags=Shopify" target="_blank">
                              <span class="fa fa-twitter" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row fh5co-services-single">

                    <div class="col-md-12 animate-box">
                        <div class="fh5co-services">
                            <div class="holder-section">
                                <h4><strong>How did you find what product to sell?</strong></h4>
                                <p>We were issued parachute cord (aka paracord or 550) while we were in Iraq. We used it for everything: from rope, to thread, to snares, to trip wires&hellip;it is very light and strong. It took me a few years to use all of mine up, but once I did, I couldn&rsquo;t
                                    find anything that felt or performed the same. &nbsp;Everything claimed to be &ldquo;mil-spec&rdquo;, but I quickly discovered that &ldquo;mil-spec&rdquo; doesn&rsquo;t really mean anything official. It&rsquo;s just a generic term with no specification
                                    behind it. I saw an underserved niche and decided to look into making my own paracord that met or exceeded the government's MIL-C-5040 standard. It took us about a year to find a reliable manufacturer that could meet or exceed the specs, and then
                                    we moved forward.
                                </p>
                                <div class="videowrapper" style="text-align: center;">
                                  <iframe width="640" height="360" src="https://www.youtube.com/embed/F6MCPnH7two" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <br />
                                <p>About a year into business, we hit upon an idea that changed everything. &nbsp;We were approached by a Special Forces colleague of mine serving in Afghanistan about adding some extra strands to the inside of our paracord. We went back and forth over about
                                    6 months with prototypes and finally settled on what we now sell as TITAN SurvivorCord, which is our MIL-C-5040 paracord beefed up and impregnated with a strand of 25 lb. test, high strength mono-filament fishing line, a strand of waterproof,
                                    waxed jute and a copper-alloy snare wire. After the release of SurvivorCord, our popularity soared with the outdoor, bush, craft, and survivalist markets.
                                </p>

                                <p>We proudly received our U.S. utility patent for TITAN SurvivorCord in January 2017.
                                </p>
                                <h4><strong>Have you found Facebook to be a more successful platform to reach out to your potential/current customers?</strong></h4>
                                <p>Honestly, we&rsquo;re still in the process of building out our social strategies and processes, which is a 2017 priority for us. &nbsp;Our goal is to increase our social presence across all available social platforms and in the process, discover which
                                    social platforms work best in reaching and connecting to our primary and secondary demographics. We have placed more emphasis on Facebook over the past couple years and the old-adage applies here: where focus goes, energy flows. Our Instagram page
                                    is less active than our Facebook page because we have been less active engaging with our customers via Instagram. &nbsp;&nbsp;&nbsp;&nbsp;
                                </p>
                                <h4><strong>Has ecommerce been a part of TITAN Survival since you started? When did you get started with Shopify and why did you choose it?</strong></h4>
                                <p>E-commerce has been a part of our company since Day One. We made the decision to build and grow our business exclusively via e-commerce because of the ease of operation and lower overhead versus physical retail.&nbsp;It took us about two years from the
                                    commencement of business to the opening of our Shopify store.&nbsp;<br /></p>
                                    <img class="img-responsive" alt="titan Survival" src="/images/titan/shopify_titan_survival_website.png">
                                    <figcaption class="figure-caption text-center">The <a href="https://www.titansurvival.com/collections/new-products/products/titan-survival-blankets-5-pack-woodland-camo">TITAN Survival</a> website</a></figcaption>
                                    <br />

                                    <p>For the backstory, we began on Amazon in 2014, where we opened shop as TITAN Paracord. &nbsp;Later in 2014,&nbsp;we&nbsp;expanded&nbsp;our e-commerce presence to include&nbsp;a&nbsp;basic&nbsp;WordPress
                                    site that&nbsp;linked back to Amazon&nbsp;for purchases.&nbsp;<br />In 2016, with the expansion of new products and the new name TITAN Survival, we upgraded from our basic WordPress site with backlinks, to a fully independent Shopify website.&nbsp; We
                                    decided to make the move to Shopify because we were ready to create a substantial company that was in touch with and able to serve our customers directly, both nationally and internationally.
                                </p>
                                <h4><strong>What are your most successful marketing avenues?</strong></h4>
                                <p>Leveraging social proof has been a strong focus for us in our marketing strategies. &nbsp;Researching products on the internet is different than comparing products in a store in that the product is intangible and therefore can&rsquo;t be touched and looked
                                    at up close and personal. </p>
                                    <div class=" col-md-3 animate-box tip-box-right pull-right">
                                      <h4 class="tip-header">Tip! <span class="tip-bulb fa fa-lightbulb-o" aria-hidden="true"></span></h4>
                                      <span><a href="http://www.nielsen.com/us/en/insights/news/2013/under-the-influence-consumer-trust-in-advertising.html">84% of people </a>trust recommendations from people they know. .</span>
                                    </div>
                                    <p>Because of this, others experience of the product becomes much more important in a buying decision. We want to make sure that our happy customers voices are heard by those that are considering our product, wherever
                                    possible: on our Shopify site via customer reviews, product reviews on Amazon, customer interactions on social media sites, Blogs, etc. &nbsp;We&rsquo;ve also had a lot of success with email campaigns.
                                </p>

                                <h4><strong>Did you build your Shopify store yourself or hire a designer and how long did it take to launch?</strong></h4>
                                <p>Our Shopify store has been a design metamorphosis and a learning process. &nbsp;We are currently using version 3 of our website, and version 4 is in the works. &nbsp;The last 3 versions were built by 3 different outsourced designers. We feel confident
                                    that we are honing in on the final version of our website, both on desktop and mobile, with this 4th version.
                                </p>
                                <h4><strong>What theme are you using? Have you done any theme customizations?</strong></h4>
                                <p>We began version 1 with the <a href="https://themes.shopify.com/themes/minimal/styles/vintage/?ref=builtwithshopify">Shopify &ldquo;Minimal&rdquo; theme</a>. In versions 2 and 3, we moved around to a few other custom themes with custom integrations, and now we are moving back
                                    to the Shopify &ldquo;Minimal&rdquo; theme again with version 4. &nbsp;As the company grows and traffic increases, we really need a robust theme that is supported by a solid engineering team. All the fancy and expensive themes are great, but if they
                                    suddenly become un-supported, which happens, you have an immediate problem.
                                </p>
                                <p>We currently have a few customizations within our &ldquo;Minimal&rsquo; theme, but nothing extravagant.
                                </p>
                                <h4><strong>What Shopify apps do you use? Which apps are most important to your business?</strong></h4>
                                <p>I would have to say my top Shopify 5 apps / Integrations are the following: &nbsp;
                                </p>
                                <ul>
                                    <li><a href="https://www.shopperapproved.com/">Shopper Approved</a></li>
                                    <li><a href="http://1.shopifytrack.com/SHUJ"> LimeSpot&rsquo;s Personalizer</a></li>
                                    <li><a href="https://apps.shopify.com/kit/?ref=builtwithshopify">Kit</a></li>
                                    <li><a title="shopify coopt app" href="http://1.shopifytrack.com/SHTR">CoOpt Referrals</a></li>
                                    <li>and <a title="shopify seo manager" href="http://1.shopifytrack.com/SHUx">SEO Manager</a>
                                    </li>
                                </ul>
                                <p>Each of those has had a significant impact on our revenue. &nbsp;
                                </p>
                                <p>Outside of Shopify, we rely heavily on <a href="https://www.leadpages.net/">LeadPages</a>&nbsp;and <a href="https://mailchimp.com/">MailChimp</a>&nbsp;for building and maintaining our Lists.
                                </p>
                                <h4><strong>Are there any metrics you can share in terms of order volume or monthly sales?</strong></h4>
                                <p>The board has requested that I plead the 5th&hellip;.
                                </p>
                                <p>But seriously, without giving out specific numbers, I can say that we have been growing on average about 10-20% per month for the past year or so. &nbsp;And most of that is because of the Shopify site and its add-on community. &nbsp;The robustness of
                                    that community is one of the strengths of Shopify.
                                </p>
                                <h4><strong>What would you do differently if you had to start over? Are there any blogs or resources that have been helpful for you?</strong></h4>

                                <p>If I had to start over, I would have just hired a designer to do the &ldquo;<a title="shopify minimal theme" href="http://1.shopifytrack.com/SHVf">Minimal</a>&rdquo; theme from the start and kept my tweaks and adjustments within
                                    the &ldquo;<a title="shopify minimal theme" href="http://1.shopifytrack.com/SHVf">Minimal</a>&rdquo; theme. &nbsp;
                                I also would have hired professional videographers to capture our products early on&hellip;that made a huge
                                difference in conversions.</p>
                                <div class=" col-md-3 animate-box tip-box-left">
                                  <h4 class="tip-header">Store Fact! <span style="color: #e52d27"class="tip-bulb fa fa-youtube" aria-hidden="true"></span></h4>
                                  <span>TITAN Survival have some examples of excellent product videos on their <a href="https://www.titansurvival.com/">website</a> and <a href="https://www.youtube.com/channel/UC5INt4NJ9T14O2woAe9zDqg">YouTube</a>.</span>
                                </div>
                                <p> &nbsp;But you really can&rsquo;t start over can you&hellip;you learn from your mistakes, and that makes you a stronger leader and a stronger business over time. With mistakes comes the tenacity and perseverance to roll with
                                the punches. &nbsp;We learn, course correct, and keep swimming.
                                </p>
                                <!-- Tip Box -->
                                <div class=" col-md-3 animate-box tip-box-right pull-right">                                  <h4 class="tip-header">Tip! <span class="tip-bulb fa fa-lightbulb-o" aria-hidden="true"></span></h4>
                                  <span>Check out our <a href="./resources">resources</a> page for some great podcasts</span>
                                </div>
                                <p>As far as resources go, I am a HUGE fan of business podcasts. I listen to them while I run and drive. &nbsp;Two of my favorite podcasts related to selling on Shopify are <a href="https://www.shopify.com.au/podcasts/shopify-masters/?ref=builtwithshopify">Shopify Masters</a> and <a href="http://www.inspiredinsider.com/">Inspired Insider</a>.</p>
                                <!-- Share Buttons (Thanks to Simple Share.com) -->
                                <div id="share-buttons">
                                    <!-- Email -->
                                    <a href="mailto:?Subject=Built with Shopify Case Study&amp;Body= Interview from built with Shopify - <%= page_link %> " >
                                      <span class="fa fa-envelope" aria-hidden="true"></span>
                                    </a>
                                    <!-- Facebook -->
                                    <a href="http://www.facebook.com/sharer.php?u=<%= page_link %>" target="_blank">
                                      <span class="fa fa-facebook" aria-hidden="true"></span>
                                    </a>
                                    <!-- Google+ -->
                                    <a href="https://plus.google.com/share?url=<%= page_link %>" target="_blank">
                                      <span class="fa fa-google-plus" aria-hidden="true"></span>
                                    </a>
                                    <!-- LinkedIn -->
                                    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=<%= page_link %>" target="_blank">
                                      <span class="fa fa-linkedin" aria-hidden="true"></span>
                                    </a>
                                    <!-- Reddit -->
                                    <a href="http://reddit.com/submit?url=<%= page_link %>&amp;title=eCommerce Case Study" target="_blank">
                                      <span class="fa fa-reddit-alien" aria-hidden="true"></span>
                                    </a>
                                    <!-- Twitter -->
                                    <a href="https://twitter.com/share?url=<%= page_link %>&amp;text="Shopify Case Study"&amp;hashtags=Shopify" target="_blank">
                                      <span class="fa fa-twitter" aria-hidden="true"></span>
                                    </a>
                                </div>
                                <% include ../snippets/mailchimp_footer.ejs %>

                            </div>
                        </div>
                        <% include ../snippets/disqus.ejs %>

                    </div>


                </div>
            </div>
        </div>
        <% include ../snippets/footer.ejs %>
  </body>

</html>
