<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <% include ../snippets/header.ejs %>
</head>

<body>
    <nav id="fh5co-main-nav" role="navigation">
        <% include ../snippets/mobile_nav.ejs %>
    </nav>
    <div id="fh5co-page">
        <header>
            <% include ../snippets/nav.ejs %>
        </header>

        <div id="fh5co-services-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section">
                        <h1><%= title %></h1>
                        <h3>
                          Jack talks about how he started <a href="<%= link %>"><%= title %></a> with Amitie & Devin in college
                          to help support animal welfare groups. He discusses the challenges of growing a dorm-room business to
                          $450/k in annual sales.
                         </h3>
                        <!-- Share Buttons -->
                        <% include ../snippets/share_buttons.ejs %>
                    </div>
                </div>
                <div class="row fh5co-services-single">

                    <div class="col-md-12 animate-box">
                        <div class="fh5co-services">
                            <div class="holder-section">
                                <!-- Meta Information -->
                                <div class="col-md-4 animate-box store-meta pull-right">
                                    <div id="store-meta-full">
                                        <h3><%= title %>  <a href="<%= link %>"><i class="fa fa-external-link"></i></a> </h3>
                                        <% include ../snippets/store_meta.ejs %>
                                    </div>
                                </div>
                                <!-- End Meta Information -->

                                <!-- Start Interview -->


                                <h3><strong>Could you tell us a bit about yourself and how you started Tote Tails?</strong></h3>
                        <p>Tote Tails was started by myself and my two partners when the three of us were students at UC Davis (A University in Northern California). &nbsp;</p>
                        <p>Myself and my girlfriend were both studying science (biotech and animal science) at UC Davis and our other co-founder had already graduated with a degree in philosophy at the time.</p>
                        <p>The original reason for starting the company was really very straightforward. &nbsp;</p>
                        <p>We just wanted to figure out a way whereby we could sustainably (by this I mean on an ongoing basis) donate to the animal welfare organizations that we believed were doing good and necessary work within our local communities.</p>
                        <p>The three of us thought that the best way to achieve this goal would be to start a company that sold products for profit and we could take a portion of this profit (10%) and donate it to the animal welfare orgs that we wanted to support.</p>
                        <p>We were having lunch one day and discussing what types of products we should make and sell, when my two partners had the idea that it would be cute to create silhouette images of different dog and cat breeds and paint those images onto tote bags and then offer personalization (pet&rsquo;s name and paw prints) if people wanted that.</p>
                        <figure>
                          <img class="img-responsive" style="width: 60%;" alt="Tote Tails Tote Bags" src="/images/tote_tails/built-with-shopify-tote-tails-tote-bags.png">
                            <figcaption class="figure-caption text-center">The original Tote Tails style.</figcaption>
                          </img>
                        </figure>
                      </br>
                        <p>We all really liked the idea, and being pet lovers we all agreed that it was something that we would buy ourselves so we new that there was at least a market of 3 people out there - so we decided to go with that. </p>
                        <h3><strong>How did you get your first sales?</strong></h3>
                        <p>Well none of us really had any experience bringing any sort of products to market when we started this company - so we thought about what seemed like the easiest way to get in front of potential customers and we decided that approaching local farmers markets in our area might not be a bad way to go.</p>
                        <p>So we created a few samples of a couple of different dog and cat breeds (my partner's painted each breed silhouette onto each tote by hand using fabric paint) and we took photos of these samples and wrote up some emails and attached the sample photos to these emails and sent them out to four or five of our local farmers market managers.</p>
                        <p>We heard back from every single market manager and I think we got into 4 out of the 5 markets that we applied to our first year.</p>
                        <p>Our very first day selling at the farmers markets we sold at the Sacramento, CA midtown farmers market and we made 11 sales that day. &nbsp;We were thrilled!</p>
                        <h3><strong>What are some of the biggest challenges you face as a business?</strong></h3>
                        <p>Fast forward to today and our business is almost unrecognizable from when we started. &nbsp;</p>
                        <p>When we first started we thought of ourselves as a company that made cute personalized pet themed tote bags for animal lovers.</p>
                        <p>Now we understand the real business that we are in and that business is the business of producing custom art at massive scale.</p>
                        <figure>
                          <img class="img-responsive" style="width: 60%;" alt="Tote Tails Tote Bags" src="/images/tote_tails/instagram-tote-tails.png">
                            <figcaption class="figure-caption text-center">New and improved. Source: <a href="https://www.instagram.com/totetails/">Tote Tails Instagram</a></figcaption>
                          </img>
                        </figure>
                        </br>
                        <p>The challenges involved in our business are generally the same challenges you get with any business that is trying to achieve significant scale of operations in any industry (things like inventory management, hiring and training new employees, managing cash flow, launching new products, customer service, etc).</p>
                        <p>BUT...</p>
                        <p>We do have several unique challenges due to the CUSTOM and CREATIVE nature of our business model.</p>
                        <p>Basically our biggest challenge as a business is how to truly scale CREATIVITY.</p>
                        <p>Now this is just a guess, but I would be willing to bet big money that we produced and sold more unique custom one off designs than 99% of e-commerce businesses last year.</p>
                        <p>This kind of custom art creation on a massive scale presents a whole host of unique challenges.</p>
                        <p>For instance: &nbsp;</p>
                        <p>
                        <ul>
                            <li>How do you manage so many individual orders? </li>
                            <li>How do you ensure speed of production?</li>
                        </ul>
                        <p>Our standard fulfillment time for custom orders is 2 - 3 business days. This period encompasses:</p>
                        <ul>
                            <li>Receiving the order</li>
                            <li>Shipping the order out the door</li>
                            <li>Customer communication</li>
                            <li>Creating the actual art and managing the vast network of freelance artists that we work with</li>
                            <li>Integrating new and novel software and tech to make the process more efficient, etc.</li>
                        </ul>
                        </p>
                        <p>All of these things are extremely challenging when taken at scale and building the systems and processes for overcoming these challenges is probably some of the most important work that myself and my co-founders do on a day to day basis.</p>
                        <h3><strong>What Shopify apps do you use? Which apps are most important to your business?</strong></h3>
                        <p>We use a whole host of Shopify apps for our business.</p>
                        <p>Probably the 5 most important apps for us have been:</p>

                        </p>
                        <ul>
                            <li ><a title="Product options shopify app" href="http://1.shopifytrack.com/SHd1">Product Options</a>&nbsp;by Bold Apps - this app allows us to collect personalization info from our customers.</li>
                            <li ><a title="Yotpo Reviews Shopify App" href="http://1.shopifytrack.com/SHWN" target="_blank">Yotpo Reviews</a>&nbsp;- our products are premium priced products - so having the social proof behind each product is extremely important - Yotpo helps us with this.</li>
                            <li ><a title="Abandonment Protector Shopify App" href="http://1.shopifytrack.com/SHd3">Abandonment Protector</a>&nbsp;- we actually recover over 30% of our abandoned carts thanks to this app and to the abandoned cart email sequence that we have set up. </li>
                            <li ><a title="Referral candy shopify app" href="http://1.shopifytrack.com/SHd5" target="_blank">ReferralCandy</a>&nbsp;- because our products are unique they naturally lend themselves to word of mouth promotion within the pet lover community. &nbsp;ReferralCandy helps us to facilitate this word of mouth promotion by enabling us to reward our customers for referrals that they make to their friends/family which leads to more sales for us</li>
                            <li ><a title="Facebook product feed shopify app" href="http://1.shopifytrack.com/SHd9" target="_blank">Facebook Product Feed</a>&nbsp;- this allows us to create dynamic product catalogs which we can use in our FB ads - we have found that our dynamic product catalog retargeting ads on FB have the highest conversion rates of any of our FB ads. </li>
                        </ul>
                        <h3><strong>Are there any metrics you can share in terms of order volume or monthly sales?</strong></h3>
                        <p>We are a mostly seasonal business. &nbsp;We make the bulk of our revenues in Q4 and the first half of Q1.</p>
                        <p>In 2016 our revenues were approx. $450K</p>
                        <p>We made just over 80% of that in Nov / Dec of 2016 and Jan 2017.</p>
                        <p>2016 was our second full year in business and our first full year of selling online (because we primarily sold at Farmers Markets in 2015).</p>
                        <p>In 2016 we sold approx. 8,500 units</p>
                        <p>We project that we will sell between 20,000 - 25,000 units this year (in 2017) and revenues of approximately $1.2M this year.</p>
                        <h3><strong>What are you working towards now?</strong></h3>
                        <p>We are very excited because this year we will be launching approximately 6 new product categories.</p>
                        <p>We plan on expanding outside of tote bags by offering canvas prints, mugs &amp; coasters, t-shirts, hoodies, etc.</p>
                        <p>We have a couple very exciting and unique products in development but I can&rsquo;t share that here because I don&rsquo;t want to give anything away! The pet lovers in your audience will just have to wait until the second half of 2017 to find out, but I promise it&rsquo;s going to be AWESOME!</p>
                        <h3><strong>Are there any blogs or resources that have been helpful for you?</strong></h3>
                        <p>Yes - so many. &nbsp;Here are a few:</p>
                        <ul>
                            <li ><a href="http://1.shopifytrack.com/SHVd">Shopify Masters Podcast</a>&nbsp;with Felix Thea</li>
                            <li ><a href="http://1.shopifytrack.com/SHVB">The Shopify E-commerce Blog</a></li>
                            <li ><a href="http://theamazingseller.com/category/podcast/">The Amazing Seller Podcast with Scott Volker</a></li>
                            <li ><a href="http://mywifequitherjob.com/about/">The My Wife Quit Her Job Podcast</a>&nbsp;with Steve Chew</li>
                            <li ><a href="https://www.google.com.au/search?q=social+media+examiner+podcast&amp;oq=social+media+examiner+podcast&amp;aqs=chrome..69i57j0l5.3695j0j7&amp;sourceid=chrome&amp;ie=UTF-8">The Social Media Examiner Podcast</a></li>
                            <li ><a href="http://www.amyporterfield.com/amy-porterfield-podcast/">Marketing Made Easy</a>&nbsp;with Amy Porterfield Podcast</li>
                            <li ><a href="http://rickmulready.com/">Facebook Ads with Rick Mulready Podcast</a></li>
                        </ul>
                        <p>The following books &amp; blogs &amp; FB Groups have really helped me:
                        <ul>
                            <li >Lean Startup</li>
                            <li >Influence by Robert Cialdini</li>
                            <li >The E-myth</li>
                            <li >The Boron Letters (on the art and science of copywriting)</li>
                            <li >The Sumo.com blog (by the creators of AppSumo and Sumome software tools)</li>
                            <li >The Shopify Brand Academy FB Group</li>
                            <li >The Amazing Seller FB Group</li>
                        </ul>
                      </p>
                    </br>
                        <!-- End Interview -->
                        <div id="store-meta-responsive">
                            <h3><strong><%= title %>  <a href="<%= link %>"><i class="fa fa-external-link"></i></a> </strong></h3>
                            <% include ../snippets/store_meta.ejs %>
                        </div>
                        <% include ../snippets/share_buttons.ejs %>
                            <% include ../snippets/mailchimp_footer.ejs %>
                                </br>

                    </div>
                </div>
                <% include ../snippets/disqus.ejs %>

            </div>


        </div>
    </div>
    </div>

    <footer>
        <script>
            // Get Alex info
            $.ajax({
                url: "/alexa-ranking",
                type: 'POST',
                data: {
                    "link": '<%= link %>'
                },
                success: function(data) {

                    xmlDoc = $.parseXML(data.body);
                    parser = new DOMParser();
                    xmlDoc = parser.parseFromString(data.body, 'text/xml');
                    var alexa_rank = (xmlDoc.getElementsByTagName("SD")[0].childNodes[0].getAttribute("TEXT"));
                    $(".alexa_rank").text(alexa_rank);

                },
                error: function(data) {
                    $("#alexa_rank").text("N.A");
                }
            });
        </script>
        <% include ../snippets/footer.ejs %>
    </footer>

    </div>
    <% include ../snippets/page_scripts.ejs %>
</body>

</html>
